backup10.03.txt
[{"id":"10375a2f.e4ffe6","type":"tab","label":"Login & Home","disabled":false,"info":""},{"id":"2962fe00.e69fd2","type":"tab","label":"Site 1","disabled":false,"info":""},{"id":"5bcb0c6a.a373b4","type":"tab","label":"Site 2","disabled":false,"info":""},{"id":"8399b957.090148","type":"tab","label":"Site 3","disabled":false,"info":""},{"id":"13d5a602.2803ba","type":"tab","label":"Site 4","disabled":false,"info":""},{"id":"8b94c6dd.ae37f8","type":"tab","label":"View","disabled":false,"info":""},{"id":"a0c65d7b.af48d","type":"tab","label":"Averages","disabled":false,"info":""},{"id":"b13d40d5.0fd8b","type":"subflow","name":"Persistence Helper","info":"","in":[{"x":45.5,"y":85,"wires":[{"id":"79791c68.7d9434"}]}],"out":[{"x":749.5,"y":53,"wires":[{"id":"41e08a12.f00494","port":0}]},{"x":755,"y":169,"wires":[{"id":"199c49.1db563b8","port":0}]}]},{"id":"2d4bee2f.52a0b2","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"NITR-NALCO Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"acdd1e0a.e5357","type":"ui_tab","z":"","name":"Site 1","icon":"dashboard","order":2},{"id":"6bbc37e2.91e898","type":"ui_tab","z":"","name":"Site 2","icon":"dashboard","order":3},{"id":"3b3e26f7.94635a","type":"ui_group","z":"","name":"Pressure","tab":"6bbc37e2.91e898","order":1,"disp":true,"width":"8"},{"id":"b05f680.2cdd498","type":"ui_group","z":"","name":"Temperature","tab":"6bbc37e2.91e898","order":2,"disp":true,"width":"8"},{"id":"888e1681.ab73d8","type":"ui_tab","z":"","name":"Site 3","icon":"dashboard","order":4},{"id":"ffd560fa.5576b","type":"ui_group","z":"","name":"Pressure","tab":"888e1681.ab73d8","order":1,"disp":true,"width":"8"},{"id":"3844e472.93d8bc","type":"ui_group","z":"","name":"Temperature","tab":"888e1681.ab73d8","order":2,"disp":true,"width":"8"},{"id":"739d347e.43859c","type":"ui_tab","z":"","name":"Site 4","icon":"dashboard","order":5},{"id":"80725979.2b9fb8","type":"ui_group","z":"","name":"Pressure","tab":"739d347e.43859c","order":1,"disp":true,"width":"8"},{"id":"b822faa0.1ef0d8","type":"ui_group","z":"","name":"Temperature","tab":"739d347e.43859c","order":2,"disp":true,"width":"8"},{"id":"6bfbe8d0.24be58","type":"ui_group","z":"","name":"Temperature","tab":"acdd1e0a.e5357","order":2,"disp":true,"width":"8"},{"id":"7ba03e2e.58d95","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"NITR-NALCO","name":"Site_3_db"},{"id":"809f6711.7e4308","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"NITR-NALCO","name":"Site_2_db"},{"id":"376e938f.4826ac","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"NITR-NALCO","name":"Site_1_db"},{"id":"1e8aed5e.6027c3","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"NITR-NALCO","name":"Site_4_db"},{"id":"66956706.a79168","type":"ui_group","z":"","name":"Last Packet Details","tab":"acdd1e0a.e5357","order":5,"disp":true,"width":"4","collapse":false},{"id":"3330e9da.d76346","type":"ui_group","z":"","name":"Last Packet Details","tab":"6bbc37e2.91e898","order":5,"disp":true,"width":"4","collapse":false},{"id":"49c6b8f8.915d18","type":"ui_group","z":"","name":"Last Packet Details","tab":"888e1681.ab73d8","order":5,"disp":true,"width":"4","collapse":false},{"id":"12c5b9fb.92caf6","type":"ui_group","z":"","name":"Last Packet Details","tab":"739d347e.43859c","order":5,"disp":true,"width":"4","collapse":false},{"id":"869e5c7c.b2966","type":"ui_group","z":"","name":"Mass Flow Rate","tab":"acdd1e0a.e5357","order":3,"disp":true,"width":"8"},{"id":"95a2fbd5.df3918","type":"ui_group","z":"","name":"Mass Flow Rate","tab":"6bbc37e2.91e898","order":3,"disp":true,"width":"8"},{"id":"2e1dfbca.3d8f24","type":"ui_group","z":"","name":"Mass Flow Rate","tab":"888e1681.ab73d8","order":3,"disp":true,"width":"8"},{"id":"35980c42.c06014","type":"ui_group","z":"","name":"Mass Flow Rate","tab":"739d347e.43859c","order":3,"disp":true,"width":"8"},{"id":"e3343b3d.4d4988","type":"ui_group","z":"","name":"Pressure","tab":"acdd1e0a.e5357","order":1,"disp":true,"width":"8"},{"id":"4ec260c5.45baf","type":"ui_group","z":"","name":"Navigate","tab":"acdd1e0a.e5357","order":4,"disp":true,"width":"4","collapse":false},{"id":"47c9fdcd.a0d074","type":"ui_group","z":"","name":"Navigate","tab":"6bbc37e2.91e898","order":4,"disp":true,"width":"4","collapse":false},{"id":"f6b02807.f2a8d8","type":"ui_group","z":"","name":"Navigate","tab":"888e1681.ab73d8","order":4,"disp":true,"width":"4","collapse":false},{"id":"351d7ae.c52e986","type":"ui_group","z":"","name":"Navigate","tab":"739d347e.43859c","order":4,"disp":true,"width":"4","collapse":false},{"id":"2939f5b7.3d9b1a","type":"ui_tab","z":"","name":"View","icon":"dashboard"},{"id":"704e4e69.2274c","type":"ui_group","z":"","name":"Parameters","tab":"2939f5b7.3d9b1a","disp":true,"width":"4","collapse":false},{"id":"da893888.35c0a8","type":"ui_group","z":"","name":"Data","tab":"2939f5b7.3d9b1a","disp":true,"width":"16","collapse":false},{"id":"642497fd.ad5c08","type":"ui_group","z":"","name":"Navigate","tab":"2939f5b7.3d9b1a","disp":true,"width":"3","collapse":false},{"id":"81c8f2b.943961","type":"ui_tab","z":"","name":"Averages","icon":"dashboard"},{"id":"a9d3c20d.51d39","type":"ui_group","z":"","name":"Parameters","tab":"81c8f2b.943961","order":1,"disp":true,"width":"4","collapse":false},{"id":"d9690a5.56b07f8","type":"ui_group","z":"","name":"Navigate","tab":"81c8f2b.943961","order":3,"disp":true,"width":"3","collapse":false},{"id":"48c97a3c.f93ed4","type":"ui_group","z":"","name":"Values","tab":"81c8f2b.943961","order":2,"disp":true,"width":"8","collapse":false},{"id":"a4480f52.a94f6","type":"ui_gauge","z":"5bcb0c6a.a373b4","name":"Pressure_Gauge","group":"3b3e26f7.94635a","order":0,"width":0,"height":0,"gtype":"gage","title":"Live Pressure","label":"Bar","format":"{{value}}","min":0,"max":"10","colors":["#ffff00","#00ff00","#ff0000"],"seg1":"5.5","seg2":"6.5","x":987.0001220703125,"y":132.6363754272461,"wires":[]},{"id":"47a33e.d8f43cc4","type":"ui_chart","z":"5bcb0c6a.a373b4","name":"Pressure_Last_Hour","group":"3b3e26f7.94635a","order":0,"width":0,"height":0,"label":"Last 1 hour Pressure","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No data","dot":false,"ymin":"0","ymax":"7","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1001.7728576660156,"y":191.454571723938,"wires":[[],[]]},{"id":"a959ca1.0818538","type":"ui_gauge","z":"5bcb0c6a.a373b4","name":"Temperature_Gauge","group":"b05f680.2cdd498","order":0,"width":0,"height":0,"gtype":"gage","title":"Live Temperature","label":"ºC","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"45","x":818.1364669799805,"y":670.7272510528564,"wires":[]},{"id":"87b230c9.4e1d","type":"ui_chart","z":"5bcb0c6a.a373b4","name":"Temperature_Last_Hour","group":"b05f680.2cdd498","order":0,"width":0,"height":0,"label":"Last 1 hour Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No data","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":822.2727966308594,"y":755.2727117538452,"wires":[[],[]]},{"id":"2b1ca69e.10465a","type":"ui_gauge","z":"8399b957.090148","name":"Pressure_Gauge","group":"ffd560fa.5576b","order":0,"width":0,"height":0,"gtype":"gage","title":"Live Pressure","label":"Bar","format":"{{value}}","min":0,"max":"10","colors":["#ffff00","#00ff00","#ff0000"],"seg1":"5.5","seg2":"6.5","x":979.7274398803711,"y":58.545461654663086,"wires":[]},{"id":"f71309e.62215f8","type":"ui_chart","z":"8399b957.090148","name":"Pressure_Last_Hour","group":"ffd560fa.5576b","order":0,"width":0,"height":0,"label":"Last 1 hour Pressure","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"7","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1017.3182830810547,"y":106.81819248199463,"wires":[[],[]]},{"id":"9827905e.b5267","type":"ui_gauge","z":"8399b957.090148","name":"Temperature_Gauge","group":"3844e472.93d8bc","order":0,"width":0,"height":0,"gtype":"gage","title":"Live Temperature","label":"ºC","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"45","x":767.1364517211914,"y":615.7272663116455,"wires":[]},{"id":"27869d41.518192","type":"ui_chart","z":"8399b957.090148","name":"Temperature_Last_Hour","group":"3844e472.93d8bc","order":0,"width":0,"height":0,"label":"Last 1 hour Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No data","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":772.2727737426758,"y":708.27272605896,"wires":[[],[]]},{"id":"c4b0a273.9c655","type":"ui_gauge","z":"13d5a602.2803ba","name":"Pressure_Gauge","group":"80725979.2b9fb8","order":0,"width":0,"height":0,"gtype":"gage","title":"Live Pressure","label":"Bar","format":"{{value}}","min":0,"max":"10","colors":["#ffff00","#00ff00","#ff0000"],"seg1":"5.5","seg2":"6.5","x":971.0001220703125,"y":58.72728157043457,"wires":[]},{"id":"9d2ded3.001581","type":"ui_chart","z":"13d5a602.2803ba","name":"Pressure_Last_Hour","group":"80725979.2b9fb8","order":0,"width":0,"height":0,"label":"Last 1 hour Pressure","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No data","dot":false,"ymin":"0","ymax":"7","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":976.6818695068359,"y":146.0909080505371,"wires":[[],[]]},{"id":"b8361cf8.05d9d","type":"ui_gauge","z":"13d5a602.2803ba","name":"Temperature_Gauge","group":"b822faa0.1ef0d8","order":0,"width":0,"height":0,"gtype":"gage","title":"Live Temperature","label":"ºC","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"45","x":961.136474609375,"y":619.7272338867188,"wires":[]},{"id":"7e759562.01673c","type":"ui_chart","z":"13d5a602.2803ba","name":"Temperature_Last_Hour","group":"b822faa0.1ef0d8","order":0,"width":0,"height":0,"label":"Last 1 hour Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No data","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":969.2727890014648,"y":719.2726621627808,"wires":[[],[]]},{"id":"e50e5fc5.c5a32","type":"ui_text","z":"5bcb0c6a.a373b4","group":"3b3e26f7.94635a","order":0,"width":0,"height":0,"name":"Min_Val_Disp","label":"Min","format":"{{msg.payload}}","layout":"row-spread","x":1175.7273788452148,"y":277.6363859176636,"wires":[]},{"id":"8643928.735a07","type":"smooth","z":"5bcb0c6a.a373b4","name":"Minimum","action":"min","count":"1000","round":"","mult":"single","x":994.3637008666992,"y":270.074275970459,"wires":[["e50e5fc5.c5a32"]]},{"id":"fd42c431.a776f8","type":"smooth","z":"5bcb0c6a.a373b4","name":"Maximum","action":"max","count":"1000","round":"","mult":"single","x":984.3967132568359,"y":309.908896446228,"wires":[["69a37d2a.f26214"]]},{"id":"69a37d2a.f26214","type":"ui_text","z":"5bcb0c6a.a373b4","group":"3b3e26f7.94635a","order":0,"width":0,"height":0,"name":"Max_Val_Disp","label":"Max","format":"{{msg.payload}}","layout":"row-spread","x":1178.396614074707,"y":316.28917121887207,"wires":[]},{"id":"3fcdefb8.27042","type":"ui_text","z":"5bcb0c6a.a373b4","group":"b05f680.2cdd498","order":0,"width":0,"height":0,"name":"Min_Val_Disp","label":"Min","format":"{{msg.payload}}","layout":"row-spread","x":1022.4546585083008,"y":831.5702571868896,"wires":[]},{"id":"3145ae.7278ca52","type":"smooth","z":"5bcb0c6a.a373b4","name":"Minimum","action":"min","count":"1000","round":"","mult":"single","x":818.0910568237305,"y":806.0081558227539,"wires":[["3fcdefb8.27042"]]},{"id":"4df59ae6.4d0ba4","type":"smooth","z":"5bcb0c6a.a373b4","name":"Maximum","action":"max","count":"1000","round":"","mult":"single","x":817.1239700317383,"y":854.8427658081055,"wires":[["d07415c8.0a6028"]]},{"id":"d07415c8.0a6028","type":"ui_text","z":"5bcb0c6a.a373b4","group":"b05f680.2cdd498","order":0,"width":0,"height":0,"name":"Max_Val_Disp","label":"Max","format":"{{msg.payload}}","layout":"row-spread","x":1024.1239624023438,"y":879.2230472564697,"wires":[]},{"id":"19378515.9018cb","type":"ui_text","z":"8399b957.090148","group":"ffd560fa.5576b","order":0,"width":0,"height":0,"name":"Min_Val_Disp","label":"Min","format":"{{msg.payload}}","layout":"row-spread","x":1110.90913772583,"y":146.7272891998291,"wires":[]},{"id":"9e6aa4e1.5e4048","type":"smooth","z":"8399b957.090148","name":"Minimum","action":"min","count":"1000","round":"","mult":"single","x":934.5456237792969,"y":149.16516780853271,"wires":[["19378515.9018cb"]]},{"id":"e5a1e0c0.ee79b","type":"smooth","z":"8399b957.090148","name":"Maximum","action":"max","count":"1000","round":"","mult":"single","x":932.5785293579102,"y":191.99976348876953,"wires":[["6acb1b38.575af4"]]},{"id":"6acb1b38.575af4","type":"ui_text","z":"8399b957.090148","group":"ffd560fa.5576b","order":0,"width":0,"height":0,"name":"Max_Val_Disp","label":"Max","format":"{{msg.payload}}","layout":"row-spread","x":1116.5784759521484,"y":193.3800859451294,"wires":[]},{"id":"c8cf4980.329268","type":"ui_text","z":"8399b957.090148","group":"3844e472.93d8bc","order":0,"width":0,"height":0,"name":"Min_Val_Disp","label":"Min","format":"{{msg.payload}}","layout":"row-spread","x":881.5455532073975,"y":786.7190418243408,"wires":[]},{"id":"f3149ede.e6435","type":"smooth","z":"8399b957.090148","name":"Minimum","action":"min","count":"1000","round":"","mult":"single","x":704.1819000244141,"y":787.1568984985352,"wires":[["c8cf4980.329268"]]},{"id":"8ab10ebe.a9bb3","type":"smooth","z":"8399b957.090148","name":"Maximum","action":"max","count":"1000","round":"","mult":"single","x":708.2148361206055,"y":840.9915504455566,"wires":[["47cdf6d9.f044c8"]]},{"id":"47cdf6d9.f044c8","type":"ui_text","z":"8399b957.090148","group":"3844e472.93d8bc","order":0,"width":0,"height":0,"name":"Max_Val_Disp","label":"Max","format":"{{msg.payload}}","layout":"row-spread","x":882.2148542404175,"y":840.371789932251,"wires":[]},{"id":"515cdb22.a05174","type":"ui_text","z":"13d5a602.2803ba","group":"80725979.2b9fb8","order":0,"width":0,"height":0,"name":"Min_Val_Disp","label":"Min","format":"{{msg.payload}}","layout":"row-spread","x":1138.3636512756348,"y":198.27272415161133,"wires":[]},{"id":"1a78fe28.7c6482","type":"smooth","z":"13d5a602.2803ba","name":"Minimum","action":"min","count":"1000","round":"","mult":"single","x":952.000072479248,"y":205.71061420440674,"wires":[["515cdb22.a05174"]]},{"id":"c8301e04.542f8","type":"smooth","z":"13d5a602.2803ba","name":"Maximum","action":"max","count":"1000","round":"","mult":"single","x":943.0330047607422,"y":255.5452175140381,"wires":[["d37044c5.8bada8"]]},{"id":"d37044c5.8bada8","type":"ui_text","z":"13d5a602.2803ba","group":"80725979.2b9fb8","order":0,"width":0,"height":0,"name":"Max_Val_Disp","label":"Max","format":"{{msg.payload}}","layout":"row-spread","x":1143.032958984375,"y":259.92550468444824,"wires":[]},{"id":"127acff1.0503c","type":"ui_text","z":"13d5a602.2803ba","group":"b822faa0.1ef0d8","order":0,"width":0,"height":0,"name":"Min_Val_Disp","label":"Min","format":"{{msg.payload}}","layout":"row-spread","x":1043.3637008666992,"y":786.7520055770874,"wires":[]},{"id":"bd5974fa.e3ce98","type":"smooth","z":"13d5a602.2803ba","name":"Minimum","action":"min","count":"1000","round":"","mult":"single","x":857.0001220703125,"y":794.1898956298828,"wires":[["127acff1.0503c"]]},{"id":"90c18037.221c3","type":"smooth","z":"13d5a602.2803ba","name":"Maximum","action":"max","count":"1000","round":"","mult":"single","x":848.0330543518066,"y":844.0244989395142,"wires":[["40999ad9.d29714"]]},{"id":"40999ad9.d29714","type":"ui_text","z":"13d5a602.2803ba","group":"b822faa0.1ef0d8","order":0,"width":0,"height":0,"name":"Max_Val_Disp","label":"Max","format":"{{msg.payload}}","layout":"row-spread","x":1048.0330085754395,"y":848.4047861099243,"wires":[]},{"id":"8ba82259.1e1f4","type":"ui_gauge","z":"2962fe00.e69fd2","name":"Pressure_Gauge","group":"e3343b3d.4d4988","order":0,"width":0,"height":0,"gtype":"gage","title":"Live Pressure","label":"Bar","format":"{{value}}","min":0,"max":"10","colors":["#ffff00","#00ff40","#ff0000"],"seg1":"5.5","seg2":"6.5","x":892.2273330688477,"y":30.090923309326172,"wires":[]},{"id":"3a96588e.9c2d78","type":"ui_chart","z":"2962fe00.e69fd2","name":"Pressure_Last_Hour","group":"e3343b3d.4d4988","order":0,"width":0,"height":0,"label":"Last 1 hour Pressure","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No data","dot":true,"ymin":"0","ymax":"7","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":905.6364517211914,"y":76.09093379974365,"wires":[[],[]]},{"id":"aff5e3f6.5e632","type":"ui_text","z":"2962fe00.e69fd2","group":"e3343b3d.4d4988","order":0,"width":0,"height":0,"name":"Min_Val_Disp","label":"Min","format":"{{msg.payload}}","layout":"row-spread","x":1022.7852821350098,"y":123.28943347930908,"wires":[]},{"id":"b2d5f17f.94764","type":"smooth","z":"2962fe00.e69fd2","name":"Minimum","action":"min","count":"1000","round":"","mult":"single","x":845.4216537475586,"y":117.7273120880127,"wires":[["aff5e3f6.5e632"]]},{"id":"881a38f1.20a328","type":"smooth","z":"2962fe00.e69fd2","name":"Maximum","action":"max","count":"1000","round":"","mult":"single","x":846.4546127319336,"y":153.56192016601562,"wires":[["760c1eb8.c684f"]]},{"id":"760c1eb8.c684f","type":"ui_text","z":"2962fe00.e69fd2","group":"e3343b3d.4d4988","order":0,"width":0,"height":0,"name":"Max_Val_Disp","label":"Max","format":"{{msg.payload}}","layout":"row-spread","x":1022.4545211791992,"y":158.94219398498535,"wires":[]},{"id":"aeb42a7f.904178","type":"ui_gauge","z":"2962fe00.e69fd2","name":"Temperature_Gauge","group":"6bfbe8d0.24be58","order":0,"width":0,"height":0,"gtype":"gage","title":"Live Temperature","label":"ºC","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"45","x":952.36376953125,"y":559.7272043228149,"wires":[]},{"id":"8b6b1127.dd965","type":"ui_chart","z":"2962fe00.e69fd2","name":"Temperature_Last_Hour","group":"6bfbe8d0.24be58","order":0,"width":0,"height":0,"label":"Last 1 hour Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No data","dot":true,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":992.3182678222656,"y":665.6363191604614,"wires":[[],[]]},{"id":"a9dc5fa7.bd994","type":"ui_text","z":"2962fe00.e69fd2","group":"6bfbe8d0.24be58","order":0,"width":0,"height":0,"name":"Min_Val_Disp","label":"Min","format":"{{msg.payload}}","layout":"row-spread","x":1122.2728271484375,"y":732.7933340072632,"wires":[]},{"id":"80bae74d.b833e8","type":"smooth","z":"2962fe00.e69fd2","name":"Minimum","action":"min","count":"1000","round":"","mult":"single","x":909.5455780029297,"y":738.4131116867065,"wires":[["a9dc5fa7.bd994"]]},{"id":"f721d1c4.938cb","type":"smooth","z":"2962fe00.e69fd2","name":"Maximum","action":"max","count":"1000","round":"","mult":"single","x":901.4875946044922,"y":807.338625907898,"wires":[["4ad670a6.77681"]]},{"id":"4ad670a6.77681","type":"ui_text","z":"2962fe00.e69fd2","group":"6bfbe8d0.24be58","order":0,"width":0,"height":0,"name":"Max_Val_Disp","label":"Max","format":"{{msg.payload}}","layout":"row-spread","x":1117.8511657714844,"y":803.5370397567749,"wires":[]},{"id":"b007e090.384c5","type":"function","z":"2962fe00.e69fd2","name":"Pressure_data","func":"msg.payload=msg.payload.Pressure\nreturn msg;","outputs":1,"noerr":0,"x":549.8637542724609,"y":129.0000352859497,"wires":[["8ba82259.1e1f4","3a96588e.9c2d78","b2d5f17f.94764","881a38f1.20a328","a026fa71.e3c0c8"]]},{"id":"3c9aa296.96269e","type":"ui_text","z":"2962fe00.e69fd2","group":"66956706.a79168","order":0,"width":"0","height":"0","name":"Device ID","label":"Device ID","format":"{{msg.payload.DID}}","layout":"col-center","x":810.8636703491211,"y":278.3636808395386,"wires":[]},{"id":"e2a021b3.9252f","type":"ui_text","z":"2962fe00.e69fd2","group":"66956706.a79168","order":0,"width":"0","height":"0","name":"Packet ID","label":"Last Packet ID","format":"{{msg.payload.PktID}}","layout":"col-center","x":811,"y":320.0000343322754,"wires":[]},{"id":"7879a567.98e46c","type":"ui_text","z":"2962fe00.e69fd2","group":"66956706.a79168","order":0,"width":"0","height":"0","name":"Time","label":"Last Packet Received","format":"{{msg.payload.Time}}","layout":"col-center","x":809.8636703491211,"y":365.3636837005615,"wires":[]},{"id":"ba52dbc1.7f0e68","type":"function","z":"2962fe00.e69fd2","name":"Temperature_data","func":"msg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":634.0000534057617,"y":605.3636598587036,"wires":[["aeb42a7f.904178","8b6b1127.dd965","80bae74d.b833e8","f721d1c4.938cb","8175eb9b.4edf68"]]},{"id":"d9432ca9.52f46","type":"mongodb out","z":"2962fe00.e69fd2","mongodb":"376e938f.4826ac","name":"Site_1_table","collection":"site1","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1239.9999618530273,"y":501.2727699279785,"wires":[]},{"id":"ab7aa2e1.b06b2","type":"function","z":"5bcb0c6a.a373b4","name":"Pressure_data","func":"msg.payload=msg.payload.Pressure\nreturn msg;","outputs":1,"noerr":0,"x":692.86376953125,"y":184.0000286102295,"wires":[["a4480f52.a94f6","47a33e.d8f43cc4","8643928.735a07","fd42c431.a776f8","3a4c3c55.c14ab4"]]},{"id":"83cd3c61.ffeb3","type":"ui_text","z":"5bcb0c6a.a373b4","group":"3330e9da.d76346","order":0,"width":0,"height":0,"name":"Device ID","label":"Device ID","format":"{{msg.payload.DID}}","layout":"col-center","x":682.8637008666992,"y":258.3636646270752,"wires":[]},{"id":"c107a40c.ba92c8","type":"ui_text","z":"5bcb0c6a.a373b4","group":"3330e9da.d76346","order":0,"width":0,"height":0,"name":"Packet ID","label":"Last Packet ID","format":"{{msg.payload.PktID}}","layout":"col-center","x":689.0000534057617,"y":315.0000171661377,"wires":[]},{"id":"e8d5b8a7.f75148","type":"ui_text","z":"5bcb0c6a.a373b4","group":"3330e9da.d76346","order":0,"width":0,"height":0,"name":"Time","label":"Last Packet Received","format":"{{msg.payload.Time}}","layout":"col-center","x":679.8637008666992,"y":371.3636646270752,"wires":[]},{"id":"62d06676.3e4108","type":"function","z":"5bcb0c6a.a373b4","name":"Temperature_data","func":"msg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":474.0001220703125,"y":747.3636474609375,"wires":[["a959ca1.0818538","87b230c9.4e1d","3145ae.7278ca52","4df59ae6.4d0ba4","34296703.9fdd78"]]},{"id":"695fb59c.0c15ac","type":"mongodb out","z":"5bcb0c6a.a373b4","mongodb":"809f6711.7e4308","name":"Site_2_table","collection":"site2","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1117.000057220459,"y":617.2727203369141,"wires":[]},{"id":"f4ad3b99.85abf8","type":"function","z":"8399b957.090148","name":"Pressure_data","func":"msg.payload=msg.payload.Pressure\nreturn msg;","outputs":1,"noerr":0,"x":656.86376953125,"y":85.0000228881836,"wires":[["2b1ca69e.10465a","f71309e.62215f8","9e6aa4e1.5e4048","e5a1e0c0.ee79b","867030b0.b5ecf"]]},{"id":"f3bbb03.461ba5","type":"ui_text","z":"8399b957.090148","group":"49c6b8f8.915d18","order":0,"width":0,"height":0,"name":"Device ID","label":"Device ID","format":"{{msg.payload.DID}}","layout":"col-center","x":646.8637008666992,"y":159.3636589050293,"wires":[]},{"id":"3402520e.e96fee","type":"ui_text","z":"8399b957.090148","group":"49c6b8f8.915d18","order":0,"width":0,"height":0,"name":"Packet ID","label":"Last Packet ID","format":"{{msg.payload.PktID}}","layout":"col-center","x":653.0000534057617,"y":216.0000114440918,"wires":[]},{"id":"63f3ca81.7b3a04","type":"ui_text","z":"8399b957.090148","group":"49c6b8f8.915d18","order":0,"width":0,"height":0,"name":"Time","label":"Last Packet Received","format":"{{msg.payload.Time}}","layout":"col-center","x":643.8637008666992,"y":272.3636589050293,"wires":[]},{"id":"8b900edb.e7531","type":"function","z":"8399b957.090148","name":"Temperature_data","func":"msg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":480.0001220703125,"y":679.3636779785156,"wires":[["9827905e.b5267","27869d41.518192","f3149ede.e6435","8ab10ebe.a9bb3","a0d49a6f.5fc388"]]},{"id":"9ea3d0e1.69801","type":"mongodb out","z":"8399b957.090148","mongodb":"7ba03e2e.58d95","name":"Site_3_table","collection":"site3","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1079.0000801086426,"y":563.2727203369141,"wires":[]},{"id":"de0a17d4.5a9358","type":"function","z":"13d5a602.2803ba","name":"Pressure_data","func":"msg.payload=msg.payload.Pressure\nreturn msg;","outputs":1,"noerr":0,"x":662.86376953125,"y":101.00002098083496,"wires":[["c4b0a273.9c655","9d2ded3.001581","1a78fe28.7c6482","c8301e04.542f8","253722f2.5a5d5e"]]},{"id":"5ae41f32.379a3","type":"ui_text","z":"13d5a602.2803ba","group":"12c5b9fb.92caf6","order":0,"width":0,"height":0,"name":"Device ID","label":"Device ID","format":"{{msg.payload.DID}}","layout":"row-spread","x":652.8637008666992,"y":175.36365699768066,"wires":[]},{"id":"c55e774e.310b98","type":"ui_text","z":"13d5a602.2803ba","group":"12c5b9fb.92caf6","order":0,"width":0,"height":0,"name":"Packet ID","label":"Last Packet ID","format":"{{msg.payload.PktID}}","layout":"row-spread","x":659.0000534057617,"y":232.00000953674316,"wires":[]},{"id":"9e8a065e.ff2ac8","type":"ui_text","z":"13d5a602.2803ba","group":"12c5b9fb.92caf6","order":0,"width":0,"height":0,"name":"Time","label":"Last Packet Received","format":"{{msg.payload.Time}}","layout":"row-spread","x":649.8637008666992,"y":288.36365699768066,"wires":[]},{"id":"f2a90746.4a06b8","type":"function","z":"13d5a602.2803ba","name":"Temperature_data","func":"msg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":628.0001449584961,"y":649.363655090332,"wires":[["b8361cf8.05d9d","7e759562.01673c","bd5974fa.e3ce98","90c18037.221c3","e519575.9118ba8"]]},{"id":"30c08e1.1bab272","type":"mongodb out","z":"13d5a602.2803ba","mongodb":"1e8aed5e.6027c3","name":"Site_4_table","collection":"site4","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1141.0001029968262,"y":544.2727208137512,"wires":[]},{"id":"f2328246.e9ce1","type":"function","z":"2962fe00.e69fd2","name":"Return JSON string","func":"msg.payload=msg.payload.payload\nreturn msg;","outputs":1,"noerr":0,"x":222.86366271972656,"y":147.0909390449524,"wires":[["3e9fa0a8.902b8"]]},{"id":"3e9fa0a8.902b8","type":"json","z":"2962fe00.e69fd2","name":"","pretty":true,"x":390,"y":220,"wires":[["b007e090.384c5","3c9aa296.96269e","e2a021b3.9252f","7879a567.98e46c","ba52dbc1.7f0e68","af322f8c.0414"]]},{"id":"af8c4a3f.02b878","type":"http in","z":"2962fe00.e69fd2","name":"Site 1 Data","url":"/site1","method":"get","upload":false,"swaggerDoc":"","x":80,"y":80,"wires":[["f2328246.e9ce1"]]},{"id":"ee6acafd.7a9778","type":"function","z":"5bcb0c6a.a373b4","name":"Return JSON string","func":"msg.payload=msg.payload.payload\nreturn msg;","outputs":1,"noerr":0,"x":270.86363220214844,"y":211.09092903137207,"wires":[["70988d66.1b6a74"]]},{"id":"70988d66.1b6a74","type":"json","z":"5bcb0c6a.a373b4","name":"","pretty":true,"x":362.86366271972656,"y":403.27272605895996,"wires":[["ab7aa2e1.b06b2","83cd3c61.ffeb3","c107a40c.ba92c8","e8d5b8a7.f75148","62d06676.3e4108","2ca5b97e.9dde86"]]},{"id":"4626107.76b77f","type":"http in","z":"5bcb0c6a.a373b4","name":"Site 2 Data","url":"/site2","method":"get","upload":false,"swaggerDoc":"","x":128,"y":101,"wires":[["ee6acafd.7a9778"]]},{"id":"c6e97398.278d3","type":"function","z":"8399b957.090148","name":"Return JSON string","func":"msg.payload=msg.payload.payload\nreturn msg;","outputs":1,"noerr":0,"x":276.86365509033203,"y":134.00001096725464,"wires":[["bc311bf9.5884d8"]]},{"id":"bc311bf9.5884d8","type":"json","z":"8399b957.090148","name":"","pretty":true,"x":378.8637008666992,"y":229.18181800842285,"wires":[["f4ad3b99.85abf8","f3bbb03.461ba5","3402520e.e96fee","63f3ca81.7b3a04","8b900edb.e7531","4aeb34f8.d886fc"]]},{"id":"1b3f6aba.426c55","type":"http in","z":"8399b957.090148","name":"Site 3 Data","url":"/site3","method":"get","upload":false,"swaggerDoc":"","x":90.00000762939453,"y":79.90907859802246,"wires":[["c6e97398.278d3"]]},{"id":"93a86e8f.fb834","type":"function","z":"13d5a602.2803ba","name":"Return JSON string","func":"msg.payload=msg.payload.payload\nreturn msg;","outputs":1,"noerr":0,"x":244.00001525878906,"y":186.0000114440918,"wires":[["c4d100a3.f8141"]]},{"id":"c4d100a3.f8141","type":"json","z":"13d5a602.2803ba","name":"","pretty":true,"x":384.0000419616699,"y":280.18181800842285,"wires":[["de0a17d4.5a9358","5ae41f32.379a3","c55e774e.310b98","9e8a065e.ff2ac8","f2a90746.4a06b8","71d59cd7.819744"]]},{"id":"7a99e72.01c1018","type":"http in","z":"13d5a602.2803ba","name":"Site 4 Data","url":"/site4","method":"get","upload":false,"swaggerDoc":"","x":143.13636779785156,"y":57.90907096862793,"wires":[["93a86e8f.fb834"]]},{"id":"7fd66579.d4fc8c","type":"change","z":"2962fe00.e69fd2","name":"Delete Full Time String","rules":[{"t":"delete","p":"payload.Time","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":906.0000381469727,"y":486.00001335144043,"wires":[["d9432ca9.52f46"]]},{"id":"af322f8c.0414","type":"function","z":"2962fe00.e69fd2","name":"Separate all and calculate mfr","func":"var x=msg.payload.Time;\n\n//splitting the values\nvar list=x.split(\"-\");\nvar date_list=list[0].split(\".\");\nvar time_list=list[1].split(\":\");\n\n//defining the values\nvar date=date_list[0];\nvar month=date_list[1];\nvar year=date_list[2];\nvar hour=time_list[0];\nvar min=time_list[1];\n\n//adding the values to the msg object\nmsg.payload.date=date;\nmsg.payload.month=month;\nmsg.payload.year=year;\nmsg.payload.hour=hour;\nmsg.payload.min=min;\n\n//now new fields have been added to the json object\n\n//calculation of mass flow rate\nvar P=Number(msg.payload.Pressure);\nvar T=Number(msg.payload.Temperature);\nvar Q=10; //volume flow rate in cubic feet/min\nvar Z=1; //compressibility of the gas\n\nvar R=10.7316; //Universal gas constant in psi, ft^3, lb and rankine system\n//https://www.katmarsoftware.com/gconvals.htm\n\n//convert pressure from bar to psi\nP=P*14.5038;\n\n//convert temperature from *C to *R(*F+460)\nT=((T*(9/5))+32) + 460;\n\nvar M = (144*P*Q)/(R*T*Z); //mass flow rate in lb/min\n\nM =String( Math.round(M * 100) / 100);\n\nmsg.payload.mfr=M;\nreturn msg;","outputs":1,"noerr":0,"x":712.0000610351562,"y":411.00006103515625,"wires":[["7fd66579.d4fc8c","a1a6fe54.17b06"]]},{"id":"935dacbc.f1b7a","type":"change","z":"5bcb0c6a.a373b4","name":"Delete Full Time String","rules":[{"t":"delete","p":"payload.Time","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":875.9999847412109,"y":594.0000152587891,"wires":[["695fb59c.0c15ac"]]},{"id":"22bb5d7f.3685a2","type":"change","z":"8399b957.090148","name":"Delete Full Time String","rules":[{"t":"delete","p":"payload.Time","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":822.0000381469727,"y":493.00001335144043,"wires":[["9ea3d0e1.69801"]]},{"id":"694aa749.cb2168","type":"change","z":"13d5a602.2803ba","name":"Delete Full Time String","rules":[{"t":"delete","p":"payload.Time","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":921,"y":495.00001525878906,"wires":[["30c08e1.1bab272"]]},{"id":"235201aa.8e809e","type":"ui_gauge","z":"2962fe00.e69fd2","name":"Mass_Flow_Rate_Gauge","group":"869e5c7c.b2966","order":0,"width":0,"height":0,"gtype":"gage","title":"Live Mass Flow Rate","label":"lb/min","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":1438.3999710083008,"y":229.00003242492676,"wires":[]},{"id":"576bd93f.2f2248","type":"ui_chart","z":"2962fe00.e69fd2","name":"Mass_Flow_Rate_Last_Hour","group":"869e5c7c.b2966","order":0,"width":0,"height":0,"label":"Last 1 hour Mass Flow Rate","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No data","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1455.8090744018555,"y":319.0000352859497,"wires":[[],[]]},{"id":"4f9cadf4.5c0f64","type":"smooth","z":"2962fe00.e69fd2","name":"Minimum","action":"min","count":"1000","round":"","mult":"single","x":1335.5942687988281,"y":370.63640308380127,"wires":[["76777d31.0bd734"]]},{"id":"a977415c.3586","type":"smooth","z":"2962fe00.e69fd2","name":"Maximum","action":"max","count":"1000","round":"","mult":"single","x":1327.6271133422852,"y":414.47100830078125,"wires":[["b444c24d.8c1ec"]]},{"id":"76777d31.0bd734","type":"ui_text","z":"2962fe00.e69fd2","group":"869e5c7c.b2966","order":0,"width":0,"height":0,"name":"Min_Val_Disp","label":"Min","format":"{{msg.payload}}","layout":"row-spread","x":1526.9578704833984,"y":373.198525428772,"wires":[]},{"id":"b444c24d.8c1ec","type":"ui_text","z":"2962fe00.e69fd2","group":"869e5c7c.b2966","order":0,"width":0,"height":0,"name":"Max_Val_Disp","label":"Max","format":"{{msg.payload}}","layout":"row-spread","x":1521.627119064331,"y":415.8513069152832,"wires":[]},{"id":"a1a6fe54.17b06","type":"function","z":"2962fe00.e69fd2","name":"MFR data","func":"msg.payload=msg.payload.mfr\nreturn msg;","outputs":1,"noerr":0,"x":1047.9000244140625,"y":375,"wires":[["235201aa.8e809e","576bd93f.2f2248","4f9cadf4.5c0f64","a977415c.3586","4b9b1709.689bd8"]]},{"id":"2ca5b97e.9dde86","type":"function","z":"5bcb0c6a.a373b4","name":"Separate all and calculate mfr","func":"var x=msg.payload.Time;\n\n//splitting the values\nvar list=x.split(\"-\");\nvar date_list=list[0].split(\".\");\nvar time_list=list[1].split(\":\");\n\n//defining the values\nvar date=date_list[0];\nvar month=date_list[1];\nvar year=date_list[2];\nvar hour=time_list[0];\nvar min=time_list[1];\n\n//adding the values to the msg object\nmsg.payload.date=date;\nmsg.payload.month=month;\nmsg.payload.year=year;\nmsg.payload.hour=hour;\nmsg.payload.min=min;\n\n//now new fields have been added to the json object\n\n//calculation of mass flow rate\nvar P=Number(msg.payload.Pressure);\nvar T=Number(msg.payload.Temperature);\nvar Q=10; //volume flow rate in cubic feet/min\nvar Z=1; //compressibility of the gas\n\nvar R=10.7316; //Universal gas constant in psi, ft^3, lb and rankine system\n//https://www.katmarsoftware.com/gconvals.htm\n\n//convert pressure from bar to psi\nP=P*14.5038;\n\n//convert temperature from *C to *R(*F+460)\nT=((T*(9/5))+32) + 460;\n\nvar M = (144*P*Q)/(R*T*Z); //mass flow rate in lb/min\n\nM =String( Math.round(M * 100) / 100);\n\nmsg.payload.mfr=M;\nreturn msg;","outputs":1,"noerr":0,"x":619.3999328613281,"y":520.0000133514404,"wires":[["f8056ad9.040fb8","935dacbc.f1b7a"]]},{"id":"f8056ad9.040fb8","type":"function","z":"5bcb0c6a.a373b4","name":"MFR data","func":"msg.payload=msg.payload.mfr\nreturn msg;","outputs":1,"noerr":0,"x":1015.2999114990234,"y":495.9999666213989,"wires":[["ffff9b4b.7d6448","cb19b1da.e872","59640cb6.cd25b4","3ed433dd.89d6fc","757c0965.937618"]]},{"id":"cb19b1da.e872","type":"smooth","z":"5bcb0c6a.a373b4","name":"Maximum","action":"max","count":"1000","round":"","mult":"single","x":1332.0273056030273,"y":591.4709644317627,"wires":[["c362f597.1e2228"]]},{"id":"ffff9b4b.7d6448","type":"smooth","z":"5bcb0c6a.a373b4","name":"Minimum","action":"min","count":"1000","round":"","mult":"single","x":1329.9942016601562,"y":537.6363430023193,"wires":[["eb8306dc.20cd28"]]},{"id":"3ed433dd.89d6fc","type":"ui_chart","z":"5bcb0c6a.a373b4","name":"Mass_Flow_Rate_Last_Hour","group":"95a2fbd5.df3918","order":3,"width":0,"height":0,"label":"Last 1 hour Mass Flow Rate","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No data","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1450.2091217041016,"y":475.00001335144043,"wires":[[],[]]},{"id":"59640cb6.cd25b4","type":"ui_gauge","z":"5bcb0c6a.a373b4","name":"Mass_Flow_Rate_Gauge","group":"95a2fbd5.df3918","order":1,"width":0,"height":0,"gtype":"gage","title":"Live Mass Flow Rate","label":"lb/min","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":1464.7999420166016,"y":386.9999828338623,"wires":[]},{"id":"eb8306dc.20cd28","type":"ui_text","z":"5bcb0c6a.a373b4","group":"95a2fbd5.df3918","order":4,"width":0,"height":0,"name":"Min_Val_Disp","label":"Min","format":"{{msg.payload}}","layout":"row-spread","x":1556.3579788208008,"y":543.1985025405884,"wires":[]},{"id":"c362f597.1e2228","type":"ui_text","z":"5bcb0c6a.a373b4","group":"95a2fbd5.df3918","order":5,"width":0,"height":0,"name":"Max_Val_Disp","label":"Max","format":"{{msg.payload}}","layout":"row-spread","x":1520.0273132324219,"y":604.8512878417969,"wires":[]},{"id":"4aeb34f8.d886fc","type":"function","z":"8399b957.090148","name":"Separate all and calculate mfr","func":"var x=msg.payload.Time;\n\n//splitting the values\nvar list=x.split(\"-\");\nvar date_list=list[0].split(\".\");\nvar time_list=list[1].split(\":\");\n\n//defining the values\nvar date=date_list[0];\nvar month=date_list[1];\nvar year=date_list[2];\nvar hour=time_list[0];\nvar min=time_list[1];\n\n//adding the values to the msg object\nmsg.payload.date=date;\nmsg.payload.month=month;\nmsg.payload.year=year;\nmsg.payload.hour=hour;\nmsg.payload.min=min;\n\n//now new fields have been added to the json object\n\n//calculation of mass flow rate\nvar P=Number(msg.payload.Pressure);\nvar T=Number(msg.payload.Temperature);\nvar Q=10; //volume flow rate in cubic feet/min\nvar Z=1; //compressibility of the gas\n\nvar R=10.7316; //Universal gas constant in psi, ft^3, lb and rankine system\n//https://www.katmarsoftware.com/gconvals.htm\n\n//convert pressure from bar to psi\nP=P*14.5038;\n\n//convert temperature from *C to *R(*F+460)\nT=((T*(9/5))+32) + 460;\n\nvar M = (144*P*Q)/(R*T*Z); //mass flow rate in lb/min\n\nM =String( Math.round(M * 100) / 100);\n\nmsg.payload.mfr=M;\nreturn msg;","outputs":1,"noerr":0,"x":632.2000274658203,"y":372.0000114440918,"wires":[["f3b948e6.46c048","22bb5d7f.3685a2"]]},{"id":"f3b948e6.46c048","type":"function","z":"8399b957.090148","name":"MFR data","func":"msg.payload=msg.payload.mfr\nreturn msg;","outputs":1,"noerr":0,"x":1012.1000289916992,"y":375.9999599456787,"wires":[["11f3e21e.8a44be","5eaf300c.76383","559ec327.b604ec","f76d5d25.7a15f","3dfb88e0.0095b8"]]},{"id":"f76d5d25.7a15f","type":"smooth","z":"8399b957.090148","name":"Maximum","action":"max","count":"1000","round":"","mult":"single","x":1260.8271865844727,"y":483.4709577560425,"wires":[["45a23bc9.1bc434"]]},{"id":"559ec327.b604ec","type":"smooth","z":"8399b957.090148","name":"Minimum","action":"min","count":"1000","round":"","mult":"single","x":1253.7941818237305,"y":429.63636207580566,"wires":[["f738b38c.531a5"]]},{"id":"5eaf300c.76383","type":"ui_chart","z":"8399b957.090148","name":"Mass_Flow_Rate_Last_Hour","group":"2e1dfbca.3d8f24","order":3,"width":0,"height":0,"label":"Last 1 hour Mass Flow Rate","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No data","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1422.0090255737305,"y":378.9999828338623,"wires":[[],[]]},{"id":"11f3e21e.8a44be","type":"ui_gauge","z":"8399b957.090148","name":"Mass_Flow_Rate_Gauge","group":"2e1dfbca.3d8f24","order":1,"width":0,"height":0,"gtype":"gage","title":"Live Mass Flow Rate","label":"lb/min","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":1411.6000442504883,"y":267.9999809265137,"wires":[]},{"id":"f738b38c.531a5","type":"ui_text","z":"8399b957.090148","group":"2e1dfbca.3d8f24","order":4,"width":0,"height":0,"name":"Min_Val_Disp","label":"Min","format":"{{msg.payload}}","layout":"row-spread","x":1486.1578559875488,"y":451.19847106933594,"wires":[]},{"id":"45a23bc9.1bc434","type":"ui_text","z":"8399b957.090148","group":"2e1dfbca.3d8f24","order":5,"width":0,"height":0,"name":"Max_Val_Disp","label":"Max","format":"{{msg.payload}}","layout":"row-spread","x":1477.82719039917,"y":511.8512315750122,"wires":[]},{"id":"71d59cd7.819744","type":"function","z":"13d5a602.2803ba","name":"Separate all and calculate mfr","func":"var x=msg.payload.Time;\n\n//splitting the values\nvar list=x.split(\"-\");\nvar date_list=list[0].split(\".\");\nvar time_list=list[1].split(\":\");\n\n//defining the values\nvar date=date_list[0];\nvar month=date_list[1];\nvar year=date_list[2];\nvar hour=time_list[0];\nvar min=time_list[1];\n\n//adding the values to the msg object\nmsg.payload.date=date;\nmsg.payload.month=month;\nmsg.payload.year=year;\nmsg.payload.hour=hour;\nmsg.payload.min=min;\n\n//now new fields have been added to the json object\n\n//calculation of mass flow rate\nvar P=Number(msg.payload.Pressure);\nvar T=Number(msg.payload.Temperature);\nvar Q=10; //volume flow rate in cubic feet/min\nvar Z=1; //compressibility of the gas\n\nvar R=10.7316; //Universal gas constant in psi, ft^3, lb and rankine system\n//https://www.katmarsoftware.com/gconvals.htm\n\n//convert pressure from bar to psi\nP=P*14.5038;\n\n//convert temperature from *C to *R(*F+460)\nT=((T*(9/5))+32) + 460;\n\nvar M = (144*P*Q)/(R*T*Z); //mass flow rate in lb/min\n\nM =String( Math.round(M * 100) / 100);\n\nmsg.payload.mfr=M;\nreturn msg;","outputs":1,"noerr":0,"x":689,"y":413.0000114440918,"wires":[["303a7005.27b8","694aa749.cb2168"]]},{"id":"303a7005.27b8","type":"function","z":"13d5a602.2803ba","name":"MFR data","func":"msg.payload=msg.payload.mfr\nreturn msg;","outputs":1,"noerr":0,"x":969.8999938964844,"y":411.99996185302734,"wires":[["c5c785a0.5105c8","e38e0863.e01338","932212c3.ceb96","659086af.8c1b58","919937f3.8f3658"]]},{"id":"659086af.8c1b58","type":"smooth","z":"13d5a602.2803ba","name":"Maximum","action":"max","count":"1000","round":"","mult":"single","x":1306.6271591186523,"y":480.47096061706543,"wires":[["ddb38ca5.1c2f4"]]},{"id":"932212c3.ceb96","type":"smooth","z":"13d5a602.2803ba","name":"Minimum","action":"min","count":"1000","round":"","mult":"single","x":1335.594253540039,"y":428.6363649368286,"wires":[["99936ab.d8eaf98"]]},{"id":"e38e0863.e01338","type":"ui_chart","z":"13d5a602.2803ba","name":"Mass_Flow_Rate_Last_Hour","group":"35980c42.c06014","order":3,"width":0,"height":0,"label":"Last 1 hour Mass Flow Rate","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No data","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1421.8090515136719,"y":361.99998474121094,"wires":[[],[]]},{"id":"c5c785a0.5105c8","type":"ui_gauge","z":"13d5a602.2803ba","name":"Mass_Flow_Rate_Gauge","group":"35980c42.c06014","order":1,"width":0,"height":0,"gtype":"gage","title":"Live Mass Flow Rate","label":"lb/min","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":1446.3999633789062,"y":275.999981880188,"wires":[]},{"id":"99936ab.d8eaf98","type":"ui_text","z":"13d5a602.2803ba","group":"35980c42.c06014","order":4,"width":0,"height":0,"name":"Min_Val_Disp","label":"Min","format":"{{msg.payload}}","layout":"row-spread","x":1544.9579315185547,"y":449.19849967956543,"wires":[]},{"id":"ddb38ca5.1c2f4","type":"ui_text","z":"13d5a602.2803ba","group":"35980c42.c06014","order":5,"width":0,"height":0,"name":"Max_Val_Disp","label":"Max","format":"{{msg.payload}}","layout":"row-spread","x":1564.627067565918,"y":508.8512363433838,"wires":[]},{"id":"4b9b1709.689bd8","type":"smooth","z":"2962fe00.e69fd2","name":"Average","action":"mean","count":"1000","round":"","mult":"single","x":1322.8999633789062,"y":459.00001335144043,"wires":[["75aa9e30.59ff1"]]},{"id":"75aa9e30.59ff1","type":"ui_text","z":"2962fe00.e69fd2","group":"869e5c7c.b2966","order":0,"width":0,"height":0,"name":"Average_Disp","label":"Moving Average","format":"{{msg.payload}}","layout":"row-spread","x":1506.7999267578125,"y":466,"wires":[]},{"id":"757c0965.937618","type":"smooth","z":"5bcb0c6a.a373b4","name":"Average","action":"mean","count":"1000","round":"","mult":"single","x":1342,"y":655,"wires":[["c2f2f650.5ceab8"]]},{"id":"c2f2f650.5ceab8","type":"ui_text","z":"5bcb0c6a.a373b4","group":"95a2fbd5.df3918","order":0,"width":0,"height":0,"name":"Average_Disp","label":"Moving Average","format":"{{msg.payload}}","layout":"row-spread","x":1525.8999633789062,"y":661.9999866485596,"wires":[]},{"id":"3dfb88e0.0095b8","type":"smooth","z":"8399b957.090148","name":"Average","action":"mean","count":"1000","round":"","mult":"single","x":1284.7999267578125,"y":547,"wires":[["d8798940.d65fe8"]]},{"id":"d8798940.d65fe8","type":"ui_text","z":"8399b957.090148","group":"2e1dfbca.3d8f24","order":0,"width":0,"height":0,"name":"Average_Disp","label":"Moving Average","format":"{{msg.payload}}","layout":"row-spread","x":1468.6998901367188,"y":553.9999866485596,"wires":[]},{"id":"919937f3.8f3658","type":"smooth","z":"13d5a602.2803ba","name":"Average","action":"mean","count":"1000","round":"","mult":"single","x":1345.5999755859375,"y":560,"wires":[["dc3717c3.64f328"]]},{"id":"dc3717c3.64f328","type":"ui_text","z":"13d5a602.2803ba","group":"35980c42.c06014","order":0,"width":0,"height":0,"name":"Average_Disp","label":"Moving Average","format":"{{msg.payload}}","layout":"row-spread","x":1529.4999389648438,"y":566.9999866485596,"wires":[]},{"id":"a026fa71.e3c0c8","type":"smooth","z":"2962fe00.e69fd2","name":"Average","action":"mean","count":"1000","round":"","mult":"single","x":842,"y":195,"wires":[["ff0ad72.23e3528"]]},{"id":"ff0ad72.23e3528","type":"ui_text","z":"2962fe00.e69fd2","group":"e3343b3d.4d4988","order":0,"width":0,"height":0,"name":"Average_Disp","label":"Moving Average","format":"{{msg.payload}}","layout":"row-spread","x":1025.8999633789062,"y":201.99998664855957,"wires":[]},{"id":"8175eb9b.4edf68","type":"smooth","z":"2962fe00.e69fd2","name":"Average","action":"mean","count":"1000","round":"","mult":"single","x":908,"y":859,"wires":[["64b7d808.31a6f8"]]},{"id":"64b7d808.31a6f8","type":"ui_text","z":"2962fe00.e69fd2","group":"6bfbe8d0.24be58","order":0,"width":0,"height":0,"name":"Average_Disp","label":"Moving Average","format":"{{msg.payload}}","layout":"row-spread","x":1091.8999633789062,"y":865.9999866485596,"wires":[]},{"id":"3a4c3c55.c14ab4","type":"smooth","z":"5bcb0c6a.a373b4","name":"Average","action":"mean","count":"1000","round":"","mult":"single","x":976,"y":358,"wires":[["ef3b7e26.9fbe6"]]},{"id":"ef3b7e26.9fbe6","type":"ui_text","z":"5bcb0c6a.a373b4","group":"3b3e26f7.94635a","order":0,"width":0,"height":0,"name":"Average_Disp","label":"Moving Average","format":"{{msg.payload}}","layout":"row-spread","x":1159.8999633789062,"y":364.99998664855957,"wires":[]},{"id":"34296703.9fdd78","type":"smooth","z":"5bcb0c6a.a373b4","name":"Average","action":"mean","count":"1000","round":"","mult":"single","x":820,"y":916,"wires":[["cff31eee.7a09e"]]},{"id":"cff31eee.7a09e","type":"ui_text","z":"5bcb0c6a.a373b4","group":"b05f680.2cdd498","order":0,"width":0,"height":0,"name":"Average_Disp","label":"Moving Average","format":"{{msg.payload}}","layout":"row-spread","x":1003.8999633789062,"y":922.9999866485596,"wires":[]},{"id":"867030b0.b5ecf","type":"smooth","z":"8399b957.090148","name":"Average","action":"mean","count":"1000","round":"","mult":"single","x":928.7999877929688,"y":238,"wires":[["de303795.362808"]]},{"id":"de303795.362808","type":"ui_text","z":"8399b957.090148","group":"ffd560fa.5576b","order":0,"width":0,"height":0,"name":"Average_Disp","label":"Moving Average","format":"{{msg.payload}}","layout":"row-spread","x":1115.6999588012695,"y":239.9999828338623,"wires":[]},{"id":"a0d49a6f.5fc388","type":"smooth","z":"8399b957.090148","name":"Average","action":"mean","count":"1000","round":"","mult":"single","x":702.7999877929688,"y":893,"wires":[["3f03e505.fec79a"]]},{"id":"3f03e505.fec79a","type":"ui_text","z":"8399b957.090148","group":"3844e472.93d8bc","order":0,"width":0,"height":0,"name":"Average_Disp","label":"Moving Average","format":"{{msg.payload}}","layout":"row-spread","x":886.699951171875,"y":899.9999866485596,"wires":[]},{"id":"253722f2.5a5d5e","type":"smooth","z":"13d5a602.2803ba","name":"Average","action":"mean","count":"1000","round":"","mult":"single","x":939.5999755859375,"y":310,"wires":[["d688bd3.6d9884"]]},{"id":"d688bd3.6d9884","type":"ui_text","z":"13d5a602.2803ba","group":"80725979.2b9fb8","order":0,"width":0,"height":0,"name":"Average_Disp","label":"Moving Average","format":"{{msg.payload}}","layout":"row-spread","x":1130.5000305175781,"y":307.00000953674316,"wires":[]},{"id":"e519575.9118ba8","type":"smooth","z":"13d5a602.2803ba","name":"Average","action":"mean","count":"1000","round":"","mult":"single","x":852,"y":893,"wires":[["a29ccf3e.136e8"]]},{"id":"a29ccf3e.136e8","type":"ui_text","z":"13d5a602.2803ba","group":"b822faa0.1ef0d8","order":0,"width":0,"height":0,"name":"Average_Disp","label":"Moving Average","format":"{{msg.payload}}","layout":"row-spread","x":1035.8999633789062,"y":899.9999866485596,"wires":[]},{"id":"92526407.02daa8","type":"ui_template","z":"2962fe00.e69fd2","group":"4ec260c5.45baf","name":"Navigate","order":0,"width":"3","height":"4","format":"<style>\n.button {\n  display: inline-block;\n  border-radius: 4px;\n  background-color: #4CAF50;\n  border: none;\n  color: #FFFFFF;\n  text-align: center;\n  font-size: 16px;\n  padding: 16px;\n  width: 100px;\n  transition: all 0.5s;\n  cursor: pointer;\n  margin: 5px;\n}\n\n.button span {\n  cursor: pointer;\n  display: inline-block;\n  position: relative;\n  transition: 0.5s;\n}\n\n.button span:after {\n  content: '\\00bb';\n  position: absolute;\n  opacity: 0;\n  top: 0;\n  right: -20px;\n  transition: 0.5s;\n}\n\n.button:hover span {\n  padding-right: 25px;\n}\n\n.button:hover span:after {\n  opacity: 1;\n  right: 0;\n}\n</style>\n\n<body>\n<script>\n\nfunction action1()\n{\n    window.open('http://192.169.142.93:1880/ui/#/0','_top');\n    window.location.reload(true);\n}\nfunction action2()\n{\n    window.open('http://192.169.142.93:1880/ui/#/1','_top');\n    window.location.reload(true);\n}\nfunction action3()\n{\n    window.open('http://192.169.142.93:1880/ui/#/2','_top');\n    window.location.reload(true);\n}\nfunction action4()\n{\n    window.open('http://192.169.142.93:1880/ui/#/3','_top');\n    window.location.reload(true);\n}\nfunction action5()\n{\n    window.open('http://192.169.142.93:1880/ui/#/5','_top');\n    window.location.reload(true);\n}\nfunction action6()\n{\n    window.open('http://192.169.142.93:1880/ui/#/6','_top');\n    window.location.reload(true);\n}\n\n// function action7()\n// {\n//     window.open('http://192.169.142.93:1880/login','_top');\n//     window.location.reload(true);\n// }\n\n</script>\n<button class=\"button\" onclick=\"parent.location='http://192.169.142.93:1880/home'\"><span>Home</span></button>\n<!--<button class=\"button\" onclick=\"parent.location='http://192.169.142.93:1880/login'\"><span>Logout</span></button>-->\n<button class=\"button\" onclick=\"action2()\"><span>Site 2</span></button>\n<button class=\"button\" onclick=\"action3()\"><span>Site 3</span></button>\n<button class=\"button\" onclick=\"action4()\"><span>Site 4</span></button>\n<!--<button class=\"button\" onclick=\"action7()\"><span>Logout</span></button>-->\n</body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":915.3999938964844,"y":928.2000408172607,"wires":[[]]},{"id":"ae743c81.0afed","type":"ui_template","z":"5bcb0c6a.a373b4","group":"47c9fdcd.a0d074","name":"Navigate","order":0,"width":"3","height":"4","format":"<style>\n.button {\n  display: inline-block;\n  border-radius: 4px;\n  background-color: #4CAF50;\n  border: none;\n  color: #FFFFFF;\n  text-align: center;\n  font-size: 16px;\n  padding: 16px;\n  width: 100px;\n  transition: all 0.5s;\n  cursor: pointer;\n  margin: 5px;\n}\n\n.button span {\n  cursor: pointer;\n  display: inline-block;\n  position: relative;\n  transition: 0.5s;\n}\n\n.button span:after {\n  content: '\\00bb';\n  position: absolute;\n  opacity: 0;\n  top: 0;\n  right: -20px;\n  transition: 0.5s;\n}\n\n.button:hover span {\n  padding-right: 25px;\n}\n\n.button:hover span:after {\n  opacity: 1;\n  right: 0;\n}\n</style>\n\n<body>\n<script>\nfunction action0()\n{\n    window.open('http://192.169.142.93:1880/home','_top');\n    window.location.reload(true);\n}\nfunction action1()\n{\n    window.open('http://192.169.142.93:1880/ui/#/0','_top');\n    window.location.reload(true);\n}\nfunction action2()\n{\n    window.open('http://192.169.142.93:1880/ui/#/1','_top');\n    window.location.reload(true);\n}\nfunction action3()\n{\n    window.open('http://192.169.142.93:1880/ui/#/2','_top');\n    window.location.reload(true);\n}\nfunction action4()\n{\n    window.open('http://192.169.142.93:1880/ui/#/3','_top');\n    window.location.reload(true);\n}\nfunction action5()\n{\n    window.open('http://192.169.142.93:1880/ui/#/5','_top');\n    window.location.reload(true);\n}\nfunction action6()\n{\n    window.open('http://192.169.142.93:1880/ui/#/6','_top');\n    window.location.reload(true);\n}\n\n</script>\n<button class=\"button\" onclick=\"parent.location='http://192.169.142.93:1880/home'\"><span>Home</span></button>\n<button class=\"button\" onclick=\"action1()\"><span>Site 1</span></button>\n<button class=\"button\" onclick=\"action3()\"><span>Site 3</span></button>\n<button class=\"button\" onclick=\"action4()\"><span>Site 4</span></button>\n\n</body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":821.5999755859375,"y":1023,"wires":[[]]},{"id":"3f068834.4f3d18","type":"ui_template","z":"8399b957.090148","group":"f6b02807.f2a8d8","name":"Navigate","order":0,"width":"3","height":"4","format":"<style>\n.button {\n  display: inline-block;\n  border-radius: 4px;\n  background-color: #4CAF50;\n  border: none;\n  color: #FFFFFF;\n  text-align: center;\n  font-size: 16px;\n  padding: 16px;\n  width: 100px;\n  transition: all 0.5s;\n  cursor: pointer;\n  margin: 5px;\n}\n\n.button span {\n  cursor: pointer;\n  display: inline-block;\n  position: relative;\n  transition: 0.5s;\n}\n\n.button span:after {\n  content: '\\00bb';\n  position: absolute;\n  opacity: 0;\n  top: 0;\n  right: -20px;\n  transition: 0.5s;\n}\n\n.button:hover span {\n  padding-right: 25px;\n}\n\n.button:hover span:after {\n  opacity: 1;\n  right: 0;\n}\n</style>\n\n<body>\n<script>\nfunction action0()\n{\n    window.open('http://192.169.142.93:1880/home','_top');\n    window.location.reload(true);\n}\nfunction action1()\n{\n    window.open('http://192.169.142.93:1880/ui/#/0','_top');\n    window.location.reload(true);\n}\nfunction action2()\n{\n    window.open('http://192.169.142.93:1880/ui/#/1','_top');\n    window.location.reload(true);\n}\nfunction action3()\n{\n    window.open('http://192.169.142.93:1880/ui/#/2','_top');\n    window.location.reload(true);\n}\nfunction action4()\n{\n    window.open('http://192.169.142.93:1880/ui/#/3','_top');\n    window.location.reload(true);\n}\nfunction action5()\n{\n    window.open('http://192.169.142.93:1880/ui/#/5','_top');\n    window.location.reload(true);\n}\nfunction action6()\n{\n    window.open('http://192.169.142.93:1880/ui/#/6','_top');\n    window.location.reload(true);\n}\n\n</script>\n<button class=\"button\" onclick=\"parent.location='http://192.169.142.93:1880/home'\"><span>Home</span></button>\n<button class=\"button\" onclick=\"action1()\"><span>Site 1</span></button>\n<button class=\"button\" onclick=\"action2()\"><span>Site 2</span></button>\n<button class=\"button\" onclick=\"action4()\"><span>Site 4</span></button>\n\n</body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":767.2000122070312,"y":984,"wires":[[]]},{"id":"f7607928.b3e198","type":"ui_template","z":"13d5a602.2803ba","group":"351d7ae.c52e986","name":"Navigate","order":0,"width":"3","height":"4","format":"<style>\n.button {\n  display: inline-block;\n  border-radius: 4px;\n  background-color: #4CAF50;\n  border: none;\n  color: #FFFFFF;\n  text-align: center;\n  font-size: 16px;\n  padding: 16px;\n  width: 100px;\n  transition: all 0.5s;\n  cursor: pointer;\n  margin: 5px;\n}\n\n.button span {\n  cursor: pointer;\n  display: inline-block;\n  position: relative;\n  transition: 0.5s;\n}\n\n.button span:after {\n  content: '\\00bb';\n  position: absolute;\n  opacity: 0;\n  top: 0;\n  right: -20px;\n  transition: 0.5s;\n}\n\n.button:hover span {\n  padding-right: 25px;\n}\n\n.button:hover span:after {\n  opacity: 1;\n  right: 0;\n}\n</style>\n\n<body>\n<script>\nfunction action0()\n{\n    window.open('http://192.169.142.93:1880/home','_top');\n    window.location.reload(true);\n}\nfunction action1()\n{\n    window.open('http://192.169.142.93:1880/ui/#/0','_top');\n    window.location.reload(true);\n}\nfunction action2()\n{\n    window.open('http://192.169.142.93:1880/ui/#/1','_top');\n    window.location.reload(true);\n}\nfunction action3()\n{\n    window.open('http://192.169.142.93:1880/ui/#/2','_top');\n    window.location.reload(true);\n}\nfunction action4()\n{\n    window.open('http://192.169.142.93:1880/ui/#/3','_top');\n    window.location.reload(true);\n}\nfunction action5()\n{\n    window.open('http://192.169.142.93:1880/ui/#/5','_top');\n    window.location.reload(true);\n}\nfunction action6()\n{\n    window.open('http://192.169.142.93:1880/ui/#/6','_top');\n    window.location.reload(true);\n}\n\n</script>\n<button class=\"button\" onclick=\"parent.location='http://192.169.142.93:1880/home'\"><span>Home</span></button>\n<button class=\"button\" onclick=\"action1()\"><span>Site 1</span></button>\n<button class=\"button\" onclick=\"action2()\"><span>Site 2</span></button>\n<button class=\"button\" onclick=\"action3()\"><span>Site 3</span></button>\n\n</body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":875,"y":971,"wires":[[]]},{"id":"ba23a5fc.352908","type":"ui_template","z":"8b94c6dd.ae37f8","group":"704e4e69.2274c","name":"","order":0,"width":0,"height":0,"format":"\n<form class=\"form\" >\n<b>Database:</b><br>\n<select id=\"database\">\n  <option value=\"1\">Site 1</option>\n  <option value=\"2\">Site 2</option>\n  <option value=\"3\">Site 3</option>\n  <option value=\"4\">Site 4</option>\n</select>\n<br><br>\n<b>From:<br>\n<input type=\"date\" id=\"fromDate\">\n<br>\nTo:<br></b>\n<input type=\"date\" id=\"toDate\">\n<br>\n</form>\n<br><br>\n<md-button ng-click=\"send({fromDate:action1(),toDate:action2(),database:action3()})\"> Set\n</md-button>\n\n<script>\n    this.scope.action1= function()\n    {\n        var value=document.getElementById(\"fromDate\").value;\n        //window.alert(document.getElementById(\"fromDate\").value);\n        return value;\n    }\n    this.scope.action2= function()\n    {\n        var value=document.getElementById(\"toDate\").value;\n        return value;\n    }\n    this.scope.action3= function()\n    {\n        var value=document.getElementById(\"database\").value;\n        return value;\n    }\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":92.0002212524414,"y":267.0000057220459,"wires":[["20d0fa38.26e786","edb49146.9fb77","fef68301.d1b08","62676163.e5adc"]]},{"id":"20d0fa38.26e786","type":"function","z":"8b94c6dd.ae37f8","name":"Query_site1","func":"var fromDate= msg.fromDate;\nvar toDate= msg.toDate;\nvar database= msg.database;\n\nvar fromDate_list=fromDate.split(\"-\");\nvar toDate_list=toDate.split(\"-\");\n\nvar date1=fromDate_list[2];\nvar month1=fromDate_list[1];\nvar year1=fromDate_list[0];\n\nvar date2=toDate_list[2];\nvar month2=toDate_list[1];\nvar year2=toDate_list[0];\n\nif (database==1)\n{\nif (year2==year1)\n{\n    var string1=\"\";\n    if (Number(month2)>Number(month1))\n    {\n        for(i=Number(date1);i<=31;i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n        \n        for(i=Number(month1)+1;i<Number(month2);i++)\n        {\n          for(j=1;j<=31;j++)\n          string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                    \"','month':'\"+String(\"0\" +i).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n        \n        for(i=1;i<=Number(date2);i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month2).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n    \n    }\n    \n    else\n    {\n        for(i=Number(date1);i<=Number(date2);i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n    }\n}\n\nif (Number(year2)>Number(year1))\n{\n    var string1=\"\";\n    for (i=Number(date1);i<=31;i++)\n    {\n        string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                        \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                        \"','year':'\"+String(year1)+\n                        \"'}+\");\n    }\n    \n    for (i=Number(month1)+1;i<=12;i++)\n    {\n        for (j=1;j<=31;j++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                            \"','month':'\"+String(\"0\" +i).slice(-2)+\n                            \"','year':'\"+String(year1)+\n                            \"'}+\");\n        }\n    }\n    \n    \n    for (k=Number(year1)+1;k<Number(year2);k++)\n    {\n        for(i=1;i<=12;i++)\n            {\n                for(j=1;j<=31;j++)\n                    {   string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                        \"','month':'\"+String(\"0\" +i).slice(-2)+\n                        \"','year':'\"+String(k)+\n                        \"'}+\");\n                    }\n            }\n                    \n    }\n    \n    for (i=1;i<Number(month2);i++)\n    {\n        for (j=1;j<=31;j++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                            \"','month':'\"+String(\"0\" +i).slice(-2)+\n                            \"','year':'\"+String(year2)+\n                            \"'}+\");\n        }\n    }\n    for (i=1;i<=Number(date2);i++)\n    {\n        string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                        \"','month':'\"+String(\"0\" +month2).slice(-2)+\n                        \"','year':'\"+String(year2)+\n                        \"'}+\");\n    }\n        \n        \n}\n\n\nstring1 = string1.substring(0, string1.length - 1); //to delete the last character\n\nstring1 = string1.replace(/'\"/g,\"\\'\");\nstring1 = string1.replace(/\"'/g,\"\\'\");\nstring1 = string1.replace(/\"/g,\"#\");\nstring1 = string1.replace(/'/g,\"\\\"\");\nstring1 = string1.replace(/#/g,\"\\'\");\nstring_array=string1.split(\"+\");\n\nobj_array=[];\n\nfor (i=0;i<string_array.length;i++)\n{\n   temp=string_array[i].replace(/\"{/g,\"\\'\\{\");\n   temp=temp.replace(/}\"/g,\"\\}\\'\");\n   json_obj=JSON.parse(temp);\n   obj_array.push(json_obj);\n}\nmsg.payload={$or : obj_array};\nreturn msg;\n}\n\nelse\n{\n    return 0;\n}\n\n\n\n\n\n\n\n//SSR","outputs":1,"noerr":0,"x":315.000057220459,"y":159.000018119812,"wires":[["91cab719.0f6298"]]},{"id":"91cab719.0f6298","type":"mongodb in","z":"8b94c6dd.ae37f8","mongodb":"376e938f.4826ac","name":"","collection":"site1","operation":"find","x":540.0000076293945,"y":245.00000953674316,"wires":[["de5100c9.1d7f4"]]},{"id":"de5100c9.1d7f4","type":"template","z":"8b94c6dd.ae37f8","name":"Style Sheet","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    //border: 1px solid transparent;\n    /* No more visible border */\n    border: 1px solid black;\n    border-collapse: collapse;\n    color: #333;\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DAF7A6;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":781,"y":328,"wires":[["a4ac6ac9.1c8e08"]]},{"id":"6f57642f.0bb18c","type":"inject","z":"8b94c6dd.ae37f8","name":"Initialise the table","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":524.8000183105469,"y":106.0000057220459,"wires":[["de5100c9.1d7f4"]]},{"id":"edb49146.9fb77","type":"function","z":"8b94c6dd.ae37f8","name":"Query_site2","func":"var fromDate= msg.fromDate;\nvar toDate= msg.toDate;\nvar database= msg.database;\n\nvar fromDate_list=fromDate.split(\"-\");\nvar toDate_list=toDate.split(\"-\");\n\nvar date1=fromDate_list[2];\nvar month1=fromDate_list[1];\nvar year1=fromDate_list[0];\n\nvar date2=toDate_list[2];\nvar month2=toDate_list[1];\nvar year2=toDate_list[0];\n\nif (database==2)\n{\nif (year2==year1)\n{\n    var string1=\"\";\n    if (Number(month2)>Number(month1))\n    {\n        for(i=Number(date1);i<=31;i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n        \n        for(i=Number(month1)+1;i<Number(month2);i++)\n        {\n          for(j=1;j<=31;j++)\n          string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                    \"','month':'\"+String(\"0\" +i).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n        \n        for(i=1;i<=Number(date2);i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month2).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n    \n    }\n    \n    else\n    {\n        for(i=Number(date1);i<=Number(date2);i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n    }\n}\n\nif (Number(year2)>Number(year1))\n{\n    var string1=\"\";\n    for (i=Number(date1);i<=31;i++)\n    {\n        string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                        \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                        \"','year':'\"+String(year1)+\n                        \"'}+\");\n    }\n    \n    for (i=Number(month1)+1;i<=12;i++)\n    {\n        for (j=1;j<=31;j++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                            \"','month':'\"+String(\"0\" +i).slice(-2)+\n                            \"','year':'\"+String(year1)+\n                            \"'}+\");\n        }\n    }\n    \n    \n    for (k=Number(year1)+1;k<Number(year2);k++)\n    {\n        for(i=1;i<=12;i++)\n            {\n                for(j=1;j<=31;j++)\n                    {   string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                        \"','month':'\"+String(\"0\" +i).slice(-2)+\n                        \"','year':'\"+String(k)+\n                        \"'}+\");\n                    }\n            }\n                    \n    }\n    \n    for (i=1;i<Number(month2);i++)\n    {\n        for (j=1;j<=31;j++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                            \"','month':'\"+String(\"0\" +i).slice(-2)+\n                            \"','year':'\"+String(year2)+\n                            \"'}+\");\n        }\n    }\n    for (i=1;i<=Number(date2);i++)\n    {\n        string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                        \"','month':'\"+String(\"0\" +month2).slice(-2)+\n                        \"','year':'\"+String(year2)+\n                        \"'}+\");\n    }\n        \n        \n}\n\n\nstring1 = string1.substring(0, string1.length - 1); //to delete the last character\n\nstring1 = string1.replace(/'\"/g,\"\\'\");\nstring1 = string1.replace(/\"'/g,\"\\'\");\nstring1 = string1.replace(/\"/g,\"#\");\nstring1 = string1.replace(/'/g,\"\\\"\");\nstring1 = string1.replace(/#/g,\"\\'\");\nstring_array=string1.split(\"+\");\n\nobj_array=[];\n\nfor (i=0;i<string_array.length;i++)\n{\n   temp=string_array[i].replace(/\"{/g,\"\\'\\{\");\n   temp=temp.replace(/}\"/g,\"\\}\\'\");\n   json_obj=JSON.parse(temp);\n   obj_array.push(json_obj);\n}\nmsg.payload={$or : obj_array};\nreturn msg;\n}\n\nelse\n{\n    return 0;\n}\n\n\n\n\n\n\n\n//SSR","outputs":1,"noerr":0,"x":307.0000114440918,"y":270.00000953674316,"wires":[["79b6204d.c3869"]]},{"id":"fef68301.d1b08","type":"function","z":"8b94c6dd.ae37f8","name":"Query_site3","func":"var fromDate= msg.fromDate;\nvar toDate= msg.toDate;\nvar database= msg.database;\n\nvar fromDate_list=fromDate.split(\"-\");\nvar toDate_list=toDate.split(\"-\");\n\nvar date1=fromDate_list[2];\nvar month1=fromDate_list[1];\nvar year1=fromDate_list[0];\n\nvar date2=toDate_list[2];\nvar month2=toDate_list[1];\nvar year2=toDate_list[0];\n\nif (database==3)\n{\nif (year2==year1)\n{\n    var string1=\"\";\n    if (Number(month2)>Number(month1))\n    {\n        for(i=Number(date1);i<=31;i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n        \n        for(i=Number(month1)+1;i<Number(month2);i++)\n        {\n          for(j=1;j<=31;j++)\n          string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                    \"','month':'\"+String(\"0\" +i).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n        \n        for(i=1;i<=Number(date2);i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month2).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n    \n    }\n    \n    else\n    {\n        for(i=Number(date1);i<=Number(date2);i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n    }\n}\n\nif (Number(year2)>Number(year1))\n{\n    var string1=\"\";\n    for (i=Number(date1);i<=31;i++)\n    {\n        string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                        \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                        \"','year':'\"+String(year1)+\n                        \"'}+\");\n    }\n    \n    for (i=Number(month1)+1;i<=12;i++)\n    {\n        for (j=1;j<=31;j++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                            \"','month':'\"+String(\"0\" +i).slice(-2)+\n                            \"','year':'\"+String(year1)+\n                            \"'}+\");\n        }\n    }\n    \n    \n    for (k=Number(year1)+1;k<Number(year2);k++)\n    {\n        for(i=1;i<=12;i++)\n            {\n                for(j=1;j<=31;j++)\n                    {   string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                        \"','month':'\"+String(\"0\" +i).slice(-2)+\n                        \"','year':'\"+String(k)+\n                        \"'}+\");\n                    }\n            }\n                    \n    }\n    \n    for (i=1;i<Number(month2);i++)\n    {\n        for (j=1;j<=31;j++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                            \"','month':'\"+String(\"0\" +i).slice(-2)+\n                            \"','year':'\"+String(year2)+\n                            \"'}+\");\n        }\n    }\n    for (i=1;i<=Number(date2);i++)\n    {\n        string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                        \"','month':'\"+String(\"0\" +month2).slice(-2)+\n                        \"','year':'\"+String(year2)+\n                        \"'}+\");\n    }\n        \n        \n}\n\n\nstring1 = string1.substring(0, string1.length - 1); //to delete the last character\n\nstring1 = string1.replace(/'\"/g,\"\\'\");\nstring1 = string1.replace(/\"'/g,\"\\'\");\nstring1 = string1.replace(/\"/g,\"#\");\nstring1 = string1.replace(/'/g,\"\\\"\");\nstring1 = string1.replace(/#/g,\"\\'\");\nstring_array=string1.split(\"+\");\n\nobj_array=[];\n\nfor (i=0;i<string_array.length;i++)\n{\n   temp=string_array[i].replace(/\"{/g,\"\\'\\{\");\n   temp=temp.replace(/}\"/g,\"\\}\\'\");\n   json_obj=JSON.parse(temp);\n   obj_array.push(json_obj);\n}\nmsg.payload={$or : obj_array};\nreturn msg;\n}\n\nelse\n{\n    return 0;\n}\n\n\n\n\n\n\n\n//SSR","outputs":1,"noerr":0,"x":310.00000762939453,"y":356.0000114440918,"wires":[["d7fa5676.24c568"]]},{"id":"62676163.e5adc","type":"function","z":"8b94c6dd.ae37f8","name":"Query_site4","func":"var fromDate= msg.fromDate;\nvar toDate= msg.toDate;\nvar database= msg.database;\n\nvar fromDate_list=fromDate.split(\"-\");\nvar toDate_list=toDate.split(\"-\");\n\nvar date1=fromDate_list[2];\nvar month1=fromDate_list[1];\nvar year1=fromDate_list[0];\n\nvar date2=toDate_list[2];\nvar month2=toDate_list[1];\nvar year2=toDate_list[0];\n\nif (database==1)\n{\nif (year2==year1)\n{\n    var string1=\"\";\n    if (Number(month2)>Number(month1))\n    {\n        for(i=Number(date1);i<=31;i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n        \n        for(i=Number(month1)+1;i<Number(month2);i++)\n        {\n          for(j=1;j<=31;j++)\n          string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                    \"','month':'\"+String(\"0\" +i).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n        \n        for(i=1;i<=Number(date2);i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month2).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n    \n    }\n    \n    else\n    {\n        for(i=Number(date1);i<=Number(date2);i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n    }\n}\n\nif (Number(year2)>Number(year1))\n{\n    var string1=\"\";\n    for (i=Number(date1);i<=31;i++)\n    {\n        string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                        \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                        \"','year':'\"+String(year1)+\n                        \"'}+\");\n    }\n    \n    for (i=Number(month1)+1;i<=12;i++)\n    {\n        for (j=1;j<=31;j++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                            \"','month':'\"+String(\"0\" +i).slice(-2)+\n                            \"','year':'\"+String(year1)+\n                            \"'}+\");\n        }\n    }\n    \n    \n    for (k=Number(year1)+1;k<Number(year2);k++)\n    {\n        for(i=1;i<=12;i++)\n            {\n                for(j=1;j<=31;j++)\n                    {   string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                        \"','month':'\"+String(\"0\" +i).slice(-2)+\n                        \"','year':'\"+String(k)+\n                        \"'}+\");\n                    }\n            }\n                    \n    }\n    \n    for (i=1;i<Number(month2);i++)\n    {\n        for (j=1;j<=31;j++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                            \"','month':'\"+String(\"0\" +i).slice(-2)+\n                            \"','year':'\"+String(year2)+\n                            \"'}+\");\n        }\n    }\n    for (i=1;i<=Number(date2);i++)\n    {\n        string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                        \"','month':'\"+String(\"0\" +month2).slice(-2)+\n                        \"','year':'\"+String(year2)+\n                        \"'}+\");\n    }\n        \n        \n}\n\n\nstring1 = string1.substring(0, string1.length - 1); //to delete the last character\n\nstring1 = string1.replace(/'\"/g,\"\\'\");\nstring1 = string1.replace(/\"'/g,\"\\'\");\nstring1 = string1.replace(/\"/g,\"#\");\nstring1 = string1.replace(/'/g,\"\\\"\");\nstring1 = string1.replace(/#/g,\"\\'\");\nstring_array=string1.split(\"+\");\n\nobj_array=[];\n\nfor (i=0;i<string_array.length;i++)\n{\n   temp=string_array[i].replace(/\"{/g,\"\\'\\{\");\n   temp=temp.replace(/}\"/g,\"\\}\\'\");\n   json_obj=JSON.parse(temp);\n   obj_array.push(json_obj);\n}\nmsg.payload={$or : obj_array};\nreturn msg;\n}\n\nelse\n{\n   return 0;\n}\n\n\n\n\n\n\n\n//SSR","outputs":1,"noerr":0,"x":291.00000762939453,"y":461.00001335144043,"wires":[["1ff63882.217717"]]},{"id":"79b6204d.c3869","type":"mongodb in","z":"8b94c6dd.ae37f8","mongodb":"809f6711.7e4308","name":"","collection":"site2","operation":"find","x":540,"y":328,"wires":[["de5100c9.1d7f4"]]},{"id":"d7fa5676.24c568","type":"mongodb in","z":"8b94c6dd.ae37f8","mongodb":"7ba03e2e.58d95","name":"","collection":"site3","operation":"find","x":526.9999542236328,"y":411.9999780654907,"wires":[["de5100c9.1d7f4"]]},{"id":"1ff63882.217717","type":"mongodb in","z":"8b94c6dd.ae37f8","mongodb":"1e8aed5e.6027c3","name":"","collection":"site4","operation":"find","x":527.9999542236328,"y":503.999981880188,"wires":[["de5100c9.1d7f4"]]},{"id":"a4ac6ac9.1c8e08","type":"ui_template","z":"8b94c6dd.ae37f8","group":"da893888.35c0a8","name":"Table","order":0,"width":"16","height":"14","format":"\n<style>\n    {{msg.style}}\n</style>\n\n<div class='container'> \n<div id=\"dvData\">\n\n\n<div class='button'>\n    <p align=\"right\">\n                <button><a href=\"#\" id =\"export\" role='button'>Download as CSV\n                </a></button></p>\n            </div>\n\n<br>\n\n<table>\n    <tr>\n        <td>Device ID</td>\n\t\t<td>Packet ID</td>\n\t\t<td>Date</td>\n\t\t<td>Time</td>\n\t\t<td>Temperature (*C)</td>\n        <td>Pressure (bar)</td>\n\t\t<td>MFR (lb/min)</td>\n    </tr>\n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{ obj.DID }}</td>\n\t<td>{{ obj.PktID }}</td>\n\t<td>{{ obj.date }}.{{ obj.month }}.{{ obj.year }}</td>\n\t<td>{{ obj.hour }}:{{ obj.min }}</td>\n\t<td>{{ obj.Temperature }}</td>\n\t<td>{{ obj.Pressure }}</td>\n    <td>{{ obj.mfr }}</td>\n  </tr>\n</table>\n </div>\n\n\n\n\n            \n<script type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.min.js'></script>\n\n<script type='text/javascript'>\n$(document).ready(function () \n{\n   \n    function exportTableToCSV($table, filename) {\n        var $headers = $table.find('tr:has(th)')\n            ,$rows = $table.find('tr:has(td)')\n            ,tmpColDelim = String.fromCharCode(11) // vertical tab character\n            ,tmpRowDelim = String.fromCharCode(0) // null character\n            ,colDelim = '\",\"'\n            ,rowDelim = '\"\\r\\n\"';\n            var csv = '\"';\n            csv += formatRows($headers.map(grabRow));\n            csv += rowDelim;\n            csv += formatRows($rows.map(grabRow)) + '\"';\n            // Data URI\n            var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);\n        $(this)\n            .attr({\n            'download': filename\n                ,'href': csvData\n                //,'target' : '_blank' //if you want it to open in a new window\n});\nfunction formatRows(rows)\n{\n            return rows.get().join(tmpRowDelim)\n                .split(tmpRowDelim).join(rowDelim)\n                .split(tmpColDelim).join(colDelim);\n        }\n        // Grab and format a row from the table\n        function grabRow(i,row){\n             \n            var $row = $(row);\n            //for some reason $cols = $row.find('td') || $row.find('th') won't work...\n            var $cols = $row.find('td'); \n            if(!$cols.length) $cols = $row.find('th');  \n            return $cols.map(grabCol)\n                        .get().join(tmpColDelim);\n        }\n        // Grab and format a column from the table \n        function grabCol(j,col){\n            var $col = $(col),\n                $text = $col.text();\n            return $text.replace('\"', '\"\"'); // escape double quotes\n        }\n    }\n    // This must be a hyperlink\n    $(\"#export\").click(function (event) {\n        // var outputFile = 'export'\n        var outputFile = window.prompt(\"Please specify a file name\") || 'export';\n        outputFile = outputFile.replace('.csv','') + '.csv'\n         \n        // CSV\n        exportTableToCSV.apply(this, [$('#dvData>table'), outputFile]);\n        });\n});\n</script>\n\n<!--csv converter code downloaded from https://gist.github.com/adilapapaya/9787842 >\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":930.0000267028809,"y":324.0000104904175,"wires":[[]]},{"id":"463edfdf.bf59d","type":"ui_template","z":"8b94c6dd.ae37f8","group":"642497fd.ad5c08","name":"Navigate","order":0,"width":"3","height":"2","format":"<style>\n.button1 {\n  display: inline-block;\n  border-radius: 4px;\n  background-color: #4CAF50;\n  border: none;\n  color: #FFFFFF;\n  text-align: center;\n  font-size: 16px;\n  padding: 16px;\n  width: 100px;\n  transition: all 0.5s;\n  cursor: pointer;\n  margin: 5px;\n}\n\n.button1 span {\n  cursor: pointer;\n  display: inline-block;\n  position: relative;\n  transition: 0.5s;\n}\n\n.button1 span:after {\n  content: '\\00bb';\n  position: absolute;\n  opacity: 0;\n  top: 0;\n  right: -20px;\n  transition: 0.5s;\n}\n\n.button:hover span {\n  padding-right: 25px;\n}\n\n.button1:hover span:after {\n  opacity: 1;\n  right: 0;\n}\n</style>\n\n<body>\n<script>\nfunction action0()\n{\n    window.open('http://192.169.142.93:1880/home','_top');\n    window.location.reload(true);\n}\nfunction action1()\n{\n    window.open('http://127.0.0.1:1880/ui/#/1','_top');\n    window.location.reload(true);\n}\nfunction action2()\n{\n    window.open('http://127.0.0.1:1880/ui/#/2','_top');\n    window.location.reload(true);\n}\nfunction action3()\n{\n    window.open('http://127.0.0.1:1880/ui/#/3','_top');\n    window.location.reload(true);\n}\nfunction action4()\n{\n    window.open('http://127.0.0.1:1880/ui/#/4','_top');\n    window.location.reload(true);\n}\nfunction action5()\n{\n    window.open('http://127.0.0.1:1880/ui/#/5','_top');\n    window.location.reload(true);\n}\nfunction action6()\n{\n    window.open('http://127.0.0.1:1880/ui/#/6','_top');\n    window.location.reload(true);\n}\n\n</script>\n<p align=\"center\">\n<button class=\"button1\" onclick=\"parent.location='http://192.169.142.93:1880/home'\"><span>Home</span></button>\n</p></body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":802.0000267028809,"y":499.00001525878906,"wires":[[]]},{"id":"6d7892f5.08cfdc","type":"ui_template","z":"a0c65d7b.af48d","group":"a9d3c20d.51d39","name":"","order":0,"width":0,"height":0,"format":"\n<form class=\"form\" >\n<b>Database:</b><br>\n<select id=\"database\">\n  <option value=\"1\">Site 1</option>\n  <option value=\"2\">Site 2</option>\n  <option value=\"3\">Site 3</option>\n  <option value=\"4\">Site 4</option>\n</select>\n<br><br>\n<b>From:<br>\n<input type=\"date\" id=\"fromDate\">\n<br>\nTo:<br></b>\n<input type=\"date\" id=\"toDate\">\n<br>\n</form>\n<br><br>\n<md-button ng-click=\"send({fromDate:action1(),toDate:action2(),database:action3()})\"> Set\n</md-button>\n\n<script>\n    this.scope.action1= function()\n    {\n        var value=document.getElementById(\"fromDate\").value;\n        //window.alert(document.getElementById(\"fromDate\").value);\n        return value;\n    }\n    this.scope.action2= function()\n    {\n        var value=document.getElementById(\"toDate\").value;\n        return value;\n    }\n    this.scope.action3= function()\n    {\n        var value=document.getElementById(\"database\").value;\n        return value;\n    }\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":115,"y":226,"wires":[["a87e638.6acf5a","f1755e64.0e491","171f49d5.7a8d26","14fe69da.6073f6"]]},{"id":"a87e638.6acf5a","type":"function","z":"a0c65d7b.af48d","name":"Query_site1","func":"var fromDate= msg.fromDate;\nvar toDate= msg.toDate;\nvar database= msg.database;\n\nvar fromDate_list=fromDate.split(\"-\");\nvar toDate_list=toDate.split(\"-\");\n\nvar date1=fromDate_list[2];\nvar month1=fromDate_list[1];\nvar year1=fromDate_list[0];\n\nvar date2=toDate_list[2];\nvar month2=toDate_list[1];\nvar year2=toDate_list[0];\n\nif (database==1)\n{\nif (year2==year1)\n{\n    var string1=\"\";\n    if (Number(month2)>Number(month1))\n    {\n        for(i=Number(date1);i<=31;i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n        \n        for(i=Number(month1)+1;i<Number(month2);i++)\n        {\n          for(j=1;j<=31;j++)\n          string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                    \"','month':'\"+String(\"0\" +i).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n        \n        for(i=1;i<=Number(date2);i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month2).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n    \n    }\n    \n    else\n    {\n        for(i=Number(date1);i<=Number(date2);i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n    }\n}\n\nif (Number(year2)>Number(year1))\n{\n    var string1=\"\";\n    for (i=Number(date1);i<=31;i++)\n    {\n        string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                        \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                        \"','year':'\"+String(year1)+\n                        \"'}+\");\n    }\n    \n    for (i=Number(month1)+1;i<=12;i++)\n    {\n        for (j=1;j<=31;j++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                            \"','month':'\"+String(\"0\" +i).slice(-2)+\n                            \"','year':'\"+String(year1)+\n                            \"'}+\");\n        }\n    }\n    \n    \n    for (k=Number(year1)+1;k<Number(year2);k++)\n    {\n        for(i=1;i<=12;i++)\n            {\n                for(j=1;j<=31;j++)\n                    {   string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                        \"','month':'\"+String(\"0\" +i).slice(-2)+\n                        \"','year':'\"+String(k)+\n                        \"'}+\");\n                    }\n            }\n                    \n    }\n    \n    for (i=1;i<Number(month2);i++)\n    {\n        for (j=1;j<=31;j++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                            \"','month':'\"+String(\"0\" +i).slice(-2)+\n                            \"','year':'\"+String(year2)+\n                            \"'}+\");\n        }\n    }\n    for (i=1;i<=Number(date2);i++)\n    {\n        string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                        \"','month':'\"+String(\"0\" +month2).slice(-2)+\n                        \"','year':'\"+String(year2)+\n                        \"'}+\");\n    }\n        \n        \n}\n\n\nstring1 = string1.substring(0, string1.length - 1); //to delete the last character\n\nstring1 = string1.replace(/'\"/g,\"\\'\");\nstring1 = string1.replace(/\"'/g,\"\\'\");\nstring1 = string1.replace(/\"/g,\"#\");\nstring1 = string1.replace(/'/g,\"\\\"\");\nstring1 = string1.replace(/#/g,\"\\'\");\nstring_array=string1.split(\"+\");\n\nobj_array=[];\n\nfor (i=0;i<string_array.length;i++)\n{\n   temp=string_array[i].replace(/\"{/g,\"\\'\\{\");\n   temp=temp.replace(/}\"/g,\"\\}\\'\");\n   json_obj=JSON.parse(temp);\n   obj_array.push(json_obj);\n}\nmsg.payload={$or : obj_array};\nreturn msg;\n}\n\nelse\n{\n    return 0;\n}\n\n\n\n\n\n\n\n//SSR","outputs":1,"noerr":0,"x":337.9998359680176,"y":118.00001239776611,"wires":[["cf1e2d62.cc74e"]]},{"id":"cf1e2d62.cc74e","type":"mongodb in","z":"a0c65d7b.af48d","mongodb":"376e938f.4826ac","name":"","collection":"site1","operation":"find","x":562.9997863769531,"y":204.00000381469727,"wires":[["e6232c64.b77ed"]]},{"id":"f1755e64.0e491","type":"function","z":"a0c65d7b.af48d","name":"Query_site2","func":"var fromDate= msg.fromDate;\nvar toDate= msg.toDate;\nvar database= msg.database;\n\nvar fromDate_list=fromDate.split(\"-\");\nvar toDate_list=toDate.split(\"-\");\n\nvar date1=fromDate_list[2];\nvar month1=fromDate_list[1];\nvar year1=fromDate_list[0];\n\nvar date2=toDate_list[2];\nvar month2=toDate_list[1];\nvar year2=toDate_list[0];\n\nif (database==2)\n{\nif (year2==year1)\n{\n    var string1=\"\";\n    if (Number(month2)>Number(month1))\n    {\n        for(i=Number(date1);i<=31;i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n        \n        for(i=Number(month1)+1;i<Number(month2);i++)\n        {\n          for(j=1;j<=31;j++)\n          string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                    \"','month':'\"+String(\"0\" +i).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n        \n        for(i=1;i<=Number(date2);i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month2).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n    \n    }\n    \n    else\n    {\n        for(i=Number(date1);i<=Number(date2);i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n    }\n}\n\nif (Number(year2)>Number(year1))\n{\n    var string1=\"\";\n    for (i=Number(date1);i<=31;i++)\n    {\n        string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                        \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                        \"','year':'\"+String(year1)+\n                        \"'}+\");\n    }\n    \n    for (i=Number(month1)+1;i<=12;i++)\n    {\n        for (j=1;j<=31;j++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                            \"','month':'\"+String(\"0\" +i).slice(-2)+\n                            \"','year':'\"+String(year1)+\n                            \"'}+\");\n        }\n    }\n    \n    \n    for (k=Number(year1)+1;k<Number(year2);k++)\n    {\n        for(i=1;i<=12;i++)\n            {\n                for(j=1;j<=31;j++)\n                    {   string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                        \"','month':'\"+String(\"0\" +i).slice(-2)+\n                        \"','year':'\"+String(k)+\n                        \"'}+\");\n                    }\n            }\n                    \n    }\n    \n    for (i=1;i<Number(month2);i++)\n    {\n        for (j=1;j<=31;j++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                            \"','month':'\"+String(\"0\" +i).slice(-2)+\n                            \"','year':'\"+String(year2)+\n                            \"'}+\");\n        }\n    }\n    for (i=1;i<=Number(date2);i++)\n    {\n        string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                        \"','month':'\"+String(\"0\" +month2).slice(-2)+\n                        \"','year':'\"+String(year2)+\n                        \"'}+\");\n    }\n        \n        \n}\n\n\nstring1 = string1.substring(0, string1.length - 1); //to delete the last character\n\nstring1 = string1.replace(/'\"/g,\"\\'\");\nstring1 = string1.replace(/\"'/g,\"\\'\");\nstring1 = string1.replace(/\"/g,\"#\");\nstring1 = string1.replace(/'/g,\"\\\"\");\nstring1 = string1.replace(/#/g,\"\\'\");\nstring_array=string1.split(\"+\");\n\nobj_array=[];\n\nfor (i=0;i<string_array.length;i++)\n{\n   temp=string_array[i].replace(/\"{/g,\"\\'\\{\");\n   temp=temp.replace(/}\"/g,\"\\}\\'\");\n   json_obj=JSON.parse(temp);\n   obj_array.push(json_obj);\n}\nmsg.payload={$or : obj_array};\nreturn msg;\n}\n\nelse\n{\n    return 0;\n}\n\n\n\n\n\n\n\n//SSR","outputs":1,"noerr":0,"x":329.9997901916504,"y":229.00000381469727,"wires":[["a7cc7f50.c9fd7"]]},{"id":"171f49d5.7a8d26","type":"function","z":"a0c65d7b.af48d","name":"Query_site3","func":"var fromDate= msg.fromDate;\nvar toDate= msg.toDate;\nvar database= msg.database;\n\nvar fromDate_list=fromDate.split(\"-\");\nvar toDate_list=toDate.split(\"-\");\n\nvar date1=fromDate_list[2];\nvar month1=fromDate_list[1];\nvar year1=fromDate_list[0];\n\nvar date2=toDate_list[2];\nvar month2=toDate_list[1];\nvar year2=toDate_list[0];\n\nif (database==3)\n{\nif (year2==year1)\n{\n    var string1=\"\";\n    if (Number(month2)>Number(month1))\n    {\n        for(i=Number(date1);i<=31;i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n        \n        for(i=Number(month1)+1;i<Number(month2);i++)\n        {\n          for(j=1;j<=31;j++)\n          string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                    \"','month':'\"+String(\"0\" +i).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n        \n        for(i=1;i<=Number(date2);i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month2).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n    \n    }\n    \n    else\n    {\n        for(i=Number(date1);i<=Number(date2);i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n    }\n}\n\nif (Number(year2)>Number(year1))\n{\n    var string1=\"\";\n    for (i=Number(date1);i<=31;i++)\n    {\n        string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                        \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                        \"','year':'\"+String(year1)+\n                        \"'}+\");\n    }\n    \n    for (i=Number(month1)+1;i<=12;i++)\n    {\n        for (j=1;j<=31;j++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                            \"','month':'\"+String(\"0\" +i).slice(-2)+\n                            \"','year':'\"+String(year1)+\n                            \"'}+\");\n        }\n    }\n    \n    \n    for (k=Number(year1)+1;k<Number(year2);k++)\n    {\n        for(i=1;i<=12;i++)\n            {\n                for(j=1;j<=31;j++)\n                    {   string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                        \"','month':'\"+String(\"0\" +i).slice(-2)+\n                        \"','year':'\"+String(k)+\n                        \"'}+\");\n                    }\n            }\n                    \n    }\n    \n    for (i=1;i<Number(month2);i++)\n    {\n        for (j=1;j<=31;j++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                            \"','month':'\"+String(\"0\" +i).slice(-2)+\n                            \"','year':'\"+String(year2)+\n                            \"'}+\");\n        }\n    }\n    for (i=1;i<=Number(date2);i++)\n    {\n        string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                        \"','month':'\"+String(\"0\" +month2).slice(-2)+\n                        \"','year':'\"+String(year2)+\n                        \"'}+\");\n    }\n        \n        \n}\n\n\nstring1 = string1.substring(0, string1.length - 1); //to delete the last character\n\nstring1 = string1.replace(/'\"/g,\"\\'\");\nstring1 = string1.replace(/\"'/g,\"\\'\");\nstring1 = string1.replace(/\"/g,\"#\");\nstring1 = string1.replace(/'/g,\"\\\"\");\nstring1 = string1.replace(/#/g,\"\\'\");\nstring_array=string1.split(\"+\");\n\nobj_array=[];\n\nfor (i=0;i<string_array.length;i++)\n{\n   temp=string_array[i].replace(/\"{/g,\"\\'\\{\");\n   temp=temp.replace(/}\"/g,\"\\}\\'\");\n   json_obj=JSON.parse(temp);\n   obj_array.push(json_obj);\n}\nmsg.payload={$or : obj_array};\nreturn msg;\n}\n\nelse\n{\n    return 0;\n}\n\n\n\n\n\n\n\n//SSR","outputs":1,"noerr":0,"x":332.9997863769531,"y":315.0000057220459,"wires":[["621113eb.c5678c"]]},{"id":"14fe69da.6073f6","type":"function","z":"a0c65d7b.af48d","name":"Query_site4","func":"var fromDate= msg.fromDate;\nvar toDate= msg.toDate;\nvar database= msg.database;\n\nvar fromDate_list=fromDate.split(\"-\");\nvar toDate_list=toDate.split(\"-\");\n\nvar date1=fromDate_list[2];\nvar month1=fromDate_list[1];\nvar year1=fromDate_list[0];\n\nvar date2=toDate_list[2];\nvar month2=toDate_list[1];\nvar year2=toDate_list[0];\n\nif (database==1)\n{\nif (year2==year1)\n{\n    var string1=\"\";\n    if (Number(month2)>Number(month1))\n    {\n        for(i=Number(date1);i<=31;i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n        \n        for(i=Number(month1)+1;i<Number(month2);i++)\n        {\n          for(j=1;j<=31;j++)\n          string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                    \"','month':'\"+String(\"0\" +i).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n        \n        for(i=1;i<=Number(date2);i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month2).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n    \n    }\n    \n    else\n    {\n        for(i=Number(date1);i<=Number(date2);i++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                    \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                    \"','year':'\"+String(year1)+\n                    \"'}+\");\n        }\n    }\n}\n\nif (Number(year2)>Number(year1))\n{\n    var string1=\"\";\n    for (i=Number(date1);i<=31;i++)\n    {\n        string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                        \"','month':'\"+String(\"0\" +month1).slice(-2)+\n                        \"','year':'\"+String(year1)+\n                        \"'}+\");\n    }\n    \n    for (i=Number(month1)+1;i<=12;i++)\n    {\n        for (j=1;j<=31;j++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                            \"','month':'\"+String(\"0\" +i).slice(-2)+\n                            \"','year':'\"+String(year1)+\n                            \"'}+\");\n        }\n    }\n    \n    \n    for (k=Number(year1)+1;k<Number(year2);k++)\n    {\n        for(i=1;i<=12;i++)\n            {\n                for(j=1;j<=31;j++)\n                    {   string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                        \"','month':'\"+String(\"0\" +i).slice(-2)+\n                        \"','year':'\"+String(k)+\n                        \"'}+\");\n                    }\n            }\n                    \n    }\n    \n    for (i=1;i<Number(month2);i++)\n    {\n        for (j=1;j<=31;j++)\n        {\n            string1+=(\"{'date':'\"+String(\"0\" +j).slice(-2)+\n                            \"','month':'\"+String(\"0\" +i).slice(-2)+\n                            \"','year':'\"+String(year2)+\n                            \"'}+\");\n        }\n    }\n    for (i=1;i<=Number(date2);i++)\n    {\n        string1+=(\"{'date':'\"+String(\"0\" +i).slice(-2)+\n                        \"','month':'\"+String(\"0\" +month2).slice(-2)+\n                        \"','year':'\"+String(year2)+\n                        \"'}+\");\n    }\n        \n        \n}\n\n\nstring1 = string1.substring(0, string1.length - 1); //to delete the last character\n\nstring1 = string1.replace(/'\"/g,\"\\'\");\nstring1 = string1.replace(/\"'/g,\"\\'\");\nstring1 = string1.replace(/\"/g,\"#\");\nstring1 = string1.replace(/'/g,\"\\\"\");\nstring1 = string1.replace(/#/g,\"\\'\");\nstring_array=string1.split(\"+\");\n\nobj_array=[];\n\nfor (i=0;i<string_array.length;i++)\n{\n   temp=string_array[i].replace(/\"{/g,\"\\'\\{\");\n   temp=temp.replace(/}\"/g,\"\\}\\'\");\n   json_obj=JSON.parse(temp);\n   obj_array.push(json_obj);\n}\nmsg.payload={$or : obj_array};\nreturn msg;\n}\n\nelse\n{\n   return 0;\n}\n\n\n\n\n\n\n\n//SSR","outputs":1,"noerr":0,"x":313.9997863769531,"y":420.00000762939453,"wires":[["98e575c2.70e658"]]},{"id":"a7cc7f50.c9fd7","type":"mongodb in","z":"a0c65d7b.af48d","mongodb":"809f6711.7e4308","name":"","collection":"site2","operation":"find","x":562.9997787475586,"y":286.9999942779541,"wires":[["e6232c64.b77ed"]]},{"id":"621113eb.c5678c","type":"mongodb in","z":"a0c65d7b.af48d","mongodb":"7ba03e2e.58d95","name":"","collection":"site3","operation":"find","x":549.9997329711914,"y":370.9999723434448,"wires":[["e6232c64.b77ed"]]},{"id":"98e575c2.70e658","type":"mongodb in","z":"a0c65d7b.af48d","mongodb":"1e8aed5e.6027c3","name":"","collection":"site4","operation":"find","x":550.9997329711914,"y":462.9999761581421,"wires":[["e6232c64.b77ed"]]},{"id":"41e08a12.f00494","type":"change","z":"b13d40d5.0fd8b","name":"","rules":[{"t":"set","p":"action","pt":"msg","to":"restore","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":589.5,"y":53,"wires":[[]]},{"id":"79791c68.7d9434","type":"json","z":"b13d40d5.0fd8b","name":"","x":175.5,"y":85,"wires":[["41e08a12.f00494"]]},{"id":"cc58732a.c7c6a","type":"catch","z":"b13d40d5.0fd8b","name":"","scope":["79791c68.7d9434"],"x":183.5,"y":117,"wires":[["14595d86.d0dbd2"]]},{"id":"14595d86.d0dbd2","type":"change","z":"b13d40d5.0fd8b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":354.5,"y":116,"wires":[["41e08a12.f00494"]]},{"id":"199c49.1db563b8","type":"inject","z":"b13d40d5.0fd8b","name":"Trigger restore","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":618.5,"y":169,"wires":[[]]},{"id":"f37bf9f1.518bf8","type":"ui_template","z":"a0c65d7b.af48d","group":"d9690a5.56b07f8","name":"Navigate","order":0,"width":"3","height":"2","format":"<style>\n.button1 {\n  display: inline-block;\n  border-radius: 4px;\n  background-color: #4CAF50;\n  border: none;\n  color: #FFFFFF;\n  text-align: center;\n  font-size: 16px;\n  padding: 16px;\n  width: 100px;\n  transition: all 0.5s;\n  cursor: pointer;\n  margin: 5px;\n}\n\n.button1 span {\n  cursor: pointer;\n  display: inline-block;\n  position: relative;\n  transition: 0.5s;\n}\n\n.button1 span:after {\n  content: '\\00bb';\n  position: absolute;\n  opacity: 0;\n  top: 0;\n  right: -20px;\n  transition: 0.5s;\n}\n\n.button:hover span {\n  padding-right: 25px;\n}\n\n.button1:hover span:after {\n  opacity: 1;\n  right: 0;\n}\n</style>\n\n<body>\n<script>\nfunction action0()\n{\n    window.open('http://192.169.142.93:1880/home','_top');\n    window.location.reload(true);\n}\nfunction action1()\n{\n    window.open('http://127.0.0.1:1880/ui/#/1','_top');\n    window.location.reload(true);\n}\nfunction action2()\n{\n    window.open('http://127.0.0.1:1880/ui/#/2','_top');\n    window.location.reload(true);\n}\nfunction action3()\n{\n    window.open('http://127.0.0.1:1880/ui/#/3','_top');\n    window.location.reload(true);\n}\nfunction action4()\n{\n    window.open('http://127.0.0.1:1880/ui/#/4','_top');\n    window.location.reload(true);\n}\nfunction action5()\n{\n    window.open('http://127.0.0.1:1880/ui/#/5','_top');\n    window.location.reload(true);\n}\nfunction action6()\n{\n    window.open('http://127.0.0.1:1880/ui/#/6','_top');\n    window.location.reload(true);\n}\n\n</script>\n<p align=\"center\">\n<button class=\"button1\" onclick=\"parent.location='http://192.169.142.93:1880/home'\"><span>Home</span></button>\n</p></body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":754,"y":513,"wires":[[]]},{"id":"e6232c64.b77ed","type":"function","z":"a0c65d7b.af48d","name":"Average calculation","func":"var input_array=msg.payload;\nvar temp_avg=0;\n\nvar temp_max=0;\nvar pressure_avg=0;\nvar pressure_max=0;\nvar mfr_avg=0;\nvar mfr_max=0;\nvar temp_min1=0;\nvar pressure_min1=0;\nvar mfr_min1=0;\n\n\nfor (i=1;i<input_array.length;i++)\n{\n    var temp_min1=1000;\n    var pressure_min1=1000;\n    var mfr_min1=1000;\n    if (input_array[i].Temperature)\n    {\n        if(input_array[i].Temperature<temp_min1)\n        {\n            temp_min=input_array[i].Temperature;\n        }\n        if(input_array[i].Temperature>temp_max)\n        {\n            temp_max=input_array[i].Temperature;\n        }\n        temp_avg+=Number(input_array[i].Temperature);\n    }\n    \n    if (input_array[i].Pressure)\n    {\n        if(input_array[i].Pressure<pressure_min1)\n        {\n            pressure_min=input_array[i].Pressure;\n        }\n        if(input_array[i].Pressure>pressure_max)\n        {\n            pressure_max=input_array[i].Pressure;\n        }\n        pressure_avg+=Number(input_array[i].Pressure);\n    }\n    \n    if (input_array[i].mfr)\n    {\n        if(input_array[i].mfr<mfr_min1)\n        {\n            mfr_min=input_array[i].mfr;\n        }\n        if(input_array[i].mfr>mfr_max)\n        {\n            mfr_max=input_array[i].mfr;\n        }\n        mfr_avg+=Number(input_array[i].mfr);\n    }\n}\nmsg.temp_avg=Number(temp_avg/input_array.length);\nmsg.pressure_avg=Number(pressure_avg/input_array.length);\nmsg.mfr_avg=Number(mfr_avg/input_array.length);\n\nmsg.temp_avg=msg.temp_avg.toPrecision(5);\nmsg.temp_min=Number(temp_min).toPrecision(5);\nmsg.temp_max=Number(temp_max).toPrecision(5);\nmsg.pressure_avg=msg.pressure_avg.toPrecision(5);\nmsg.pressure_min=Number(pressure_min).toPrecision(5);\nmsg.pressure_max=Number(pressure_max).toPrecision(5);\nmsg.mfr_avg=msg.mfr_avg.toPrecision(5);\nmsg.mfr_min=Number(mfr_min).toPrecision(5);\nmsg.mfr_max=Number(mfr_max).toPrecision(5);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":340,"wires":[["b7c8869.ecd2578","637ac41f.46191c","61bded45.515a54","3386a2d1.e1112e","a7e4a953.21f6d8","24277f28.5e28c","d649aca5.a5538","e63cb6b3.3c2d08","f71f5f94.42232"]]},{"id":"b7c8869.ecd2578","type":"ui_text","z":"a0c65d7b.af48d","group":"48c97a3c.f93ed4","order":0,"width":0,"height":0,"name":"","label":"Average Temperature (*C)","format":"{{msg.temp_avg}}","layout":"row-spread","x":1306.0000076293945,"y":83.20004844665527,"wires":[]},{"id":"d649aca5.a5538","type":"ui_text","z":"a0c65d7b.af48d","group":"48c97a3c.f93ed4","order":0,"width":0,"height":0,"name":"","label":"Minimum Temperature (*C)","format":"{{msg.temp_min}}","layout":"row-spread","x":1320,"y":120,"wires":[]},{"id":"3386a2d1.e1112e","type":"ui_text","z":"a0c65d7b.af48d","group":"48c97a3c.f93ed4","order":0,"width":0,"height":0,"name":"","label":"Maximum Temperature (*C)","format":"{{msg.temp_max}}","layout":"row-spread","x":1320,"y":160,"wires":[]},{"id":"637ac41f.46191c","type":"ui_text","z":"a0c65d7b.af48d","group":"48c97a3c.f93ed4","order":0,"width":0,"height":0,"name":"","label":"Average Pressure (Bar)","format":"{{msg.pressure_avg}}","layout":"row-spread","x":1350,"y":240,"wires":[]},{"id":"e63cb6b3.3c2d08","type":"ui_text","z":"a0c65d7b.af48d","group":"48c97a3c.f93ed4","order":0,"width":0,"height":0,"name":"","label":"Minimum Pressure (Bar)","format":"{{msg.pressure_min}}","layout":"row-spread","x":1350,"y":320,"wires":[]},{"id":"a7e4a953.21f6d8","type":"ui_text","z":"a0c65d7b.af48d","group":"48c97a3c.f93ed4","order":0,"width":0,"height":0,"name":"","label":"Maximum Pressure (Bar)","format":"{{msg.pressure_max}}","layout":"row-spread","x":1350,"y":280,"wires":[]},{"id":"61bded45.515a54","type":"ui_text","z":"a0c65d7b.af48d","group":"48c97a3c.f93ed4","order":0,"width":0,"height":0,"name":"","label":"Average Mass Flow Rate (lb/min)","format":"{{msg.mfr_avg}}","layout":"row-spread","x":1340,"y":420,"wires":[]},{"id":"f71f5f94.42232","type":"ui_text","z":"a0c65d7b.af48d","group":"48c97a3c.f93ed4","order":0,"width":0,"height":0,"name":"","label":"Minimum Mass Flow Rate (lb/min)","format":"{{msg.mfr_min}}","layout":"row-spread","x":1340,"y":460,"wires":[]},{"id":"24277f28.5e28c","type":"ui_text","z":"a0c65d7b.af48d","group":"48c97a3c.f93ed4","order":0,"width":0,"height":0,"name":"","label":"Maximum Mass Flow Rate (lb/min)","format":"{{msg.mfr_max}}","layout":"row-spread","x":1340,"y":500,"wires":[]},{"id":"b72bee73.6406","type":"inject","z":"a0c65d7b.af48d","name":"Initialise","topic":"-","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":931.5999984741211,"y":110.39999580383301,"wires":[["b7c8869.ecd2578","61bded45.515a54","3386a2d1.e1112e","a7e4a953.21f6d8","24277f28.5e28c","637ac41f.46191c","d649aca5.a5538","e63cb6b3.3c2d08","f71f5f94.42232"]]},{"id":"589661b2.e53a5","type":"http in","z":"10375a2f.e4ffe6","name":"Login Page","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":270,"y":120,"wires":[["6d15f748.06c658"]]},{"id":"256007e0.be9f38","type":"http in","z":"10375a2f.e4ffe6","name":"post data","url":"/home","method":"post","upload":false,"swaggerDoc":"","x":179,"y":240,"wires":[["eb888ebf.a2986"]]},{"id":"6d15f748.06c658","type":"template","z":"10375a2f.e4ffe6","name":"login.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<style>\nbody{background: #eee url(https://preview.ibb.co/jtcJiS/lock.jpg);\n    height:100%;\n    background-repeat: no-repeat;\n    background-size: cover\n}\nhtml,body{\n    position: relative;\n    height: 100%;\n}\n\n.login-container{\n    position: relative;\n    width: 300px;\n    margin: 80px auto;\n    padding: 20px 40px 40px;\n    text-align: center;\n    background: #fff;\n    border: 1px solid #ccc;\n}\n\n#output{\n    position: absolute;\n    width: 300px;\n    top: -75px;\n    left: 0;\n    color: #fff;\n}\n\n#output.alert-success{\n    background: rgb(25, 204, 25);\n}\n\n#output.alert-danger{\n    background: rgb(228, 105, 105);\n}\n\n\n.login-container::before,.login-container::after{\n    content: \"\";\n    position: absolute;\n    width: 100%;height: 100%;\n    top: 3.5px;left: 0;\n    background: #fff;\n    z-index: -1;\n    -webkit-transform: rotateZ(4deg);\n    -moz-transform: rotateZ(4deg);\n    -ms-transform: rotateZ(4deg);\n    border: 1px solid #ccc;\n\n}\n\n.login-container::after{\n    top: 5px;\n    z-index: -2;\n    -webkit-transform: rotateZ(-2deg);\n     -moz-transform: rotateZ(-2deg);\n      -ms-transform: rotateZ(-2deg);\n\n}\n\n.avatar{\n    width: 100px;height: 100px;\n    margin: 10px auto 30px;\n    border-radius: 100%;\n    border: 2px solid #aaa;\n    background-size: cover;\n}\n\n.form-box input{\n    width: 100%;\n    padding: 10px;\n    text-align: center;\n    height:40px;\n    border: 1px solid #ccc;;\n    background: #fafafa;\n    transition:0.2s ease-in-out;\n\n}\n\n.form-box input:focus{\n    outline: 0;\n    background: #eee;\n}\n\n.form-box input[type=\"text\"]{\n    border-radius: 5px 5px 0 0;\n    text-transform: lowercase;\n}\n\n.form-box input[type=\"password\"]{\n    border-radius: 0 0 5px 5px;\n    border-top: 0;\n}\n\n.form-box button.login{\n    margin-top:15px;\n    padding: 10px 20px;\n}\n\n.animated {\n  -webkit-animation-duration: 1s;\n  animation-duration: 1s;\n  -webkit-animation-fill-mode: both;\n  animation-fill-mode: both;\n}\n\n@-webkit-keyframes fadeInUp {\n  0% {\n    opacity: 0;\n    -webkit-transform: translateY(20px);\n    transform: translateY(20px);\n  }\n\n  100% {\n    opacity: 1;\n    -webkit-transform: translateY(0);\n    transform: translateY(0);\n  }\n}\n\n@keyframes fadeInUp {\n  0% {\n    opacity: 0;\n    -webkit-transform: translateY(20px);\n    -ms-transform: translateY(20px);\n    transform: translateY(20px);\n  }\n\n  100% {\n    opacity: 1;\n    -webkit-transform: translateY(0);\n    -ms-transform: translateY(0);\n    transform: translateY(0);\n  }\n}\n/*\n.fadeInUp {\n  -webkit-animation-name: fadeInUp;\n  animation-name: fadeInUp;\n}*/\n\n\n\n\n</style>\n<div class=\"container\">\n\t<div class=\"login-container\">\n            <div id=\"output\"></div>\n            <div class=\"w3-container\">\n <!--  <h2>Image in a Circle</h2>\n  <p>The w3-circle class shapes an image to a circle:</p> -->\n  <a href=\"https://www.nalcoindia.com/\">\n  <img src=\"https://image.ibb.co/emDVxn/NALCO.jpg\" class=\"w3-circle\" style=\"width:50%\">\n</a>\n</div>\n            <div class=\"form-box\">\n              <div class=\"panel-body\">\n                    <form action=\"/home\" method=\"post\" class=\"form-horizontal\" role=\"form\">\n                        <div class=\"form-group\">\n                            <label for=\"inputEmail\" class=\"col-sm-3 control-label\"><strong>Username</strong></label>\n                            <div class=\"col-sm-9\">\n                                <input type=\"username\" name=\"username\" class=\"form-control\" id=\"input Username\" placeholder=\"username\" style=\"background-color:lightyellow\" required=\"\">\n                            </div>\n                        </div>\n                        <div class=\"form-group\">\n                            <label for=\"inputPassword\" class=\"col-sm-3 control-label\"><strong>Password</strong></label>\n                            <div class=\"col-sm-9\">\n                                <input type=\"password\" name=\"password\" class=\"form-control\" id=\"input Password\" placeholder=\"password\" style=\"background-color:lightyellow\" required=\"\">\n                            </div>\n                        </div>\n                        <div class=\"form-group last\">\n                            <div class=\"col-sm-offset-3 col-sm-9\">\n                                <button type=\"submit\" class=\"btn btn-success btn-sm\"><strong>Login</strong></button>\n                            </div>\n                        </div>\n                    </form>\n            </div>            </div>\n        </div>\n        \n</div>\n</html>","output":"str","x":460,"y":120,"wires":[["dd901b8.2c467e8"]]},{"id":"dd901b8.2c467e8","type":"http response","z":"10375a2f.e4ffe6","name":"","statusCode":"","headers":{},"x":658,"y":123,"wires":[]},{"id":"18dfe514.40abfb","type":"template","z":"10375a2f.e4ffe6","name":"/home","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n<!DOCTYPE HTML>\n<html>\n    <head>\n        <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n        <meta http-equiv=\"Pragma\" content=\"no-cache\">\n        <meta http-equiv=\"Cache-Control\" content=\"no-cache\">\n        <meta http-equiv=\"Cache-Control\" content=\"no-store\">\n        <meta http-equiv=\"Cache-Control\" content=\"must-revalidate\">\n        <meta http-equiv=\"Cache-Control\" content=\"pre-check=0\">\n        <meta http-equiv=\"Cache-Control\" content=\"post-check=0\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1\" />\n        <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge, Chrome=1\" />\n        <meta name=\"keywords\" content=\"GeM, Goverenment E-Market, GeM SPV\" />\n        <meta name=\"description\" content=\"\" />\n\n        <link rel=\"icon\" href=\"/static/image/NALCO.png\" type=\"image/favicon\">\n        <link href=\"https://static.gem.gov.in/resources/css/font/stylesheet_v1.css\" rel=\"stylesheet\" type=\"text/css\" media=\"all\" />\n        <link href=\"https://static.gem.gov.in/resources/css/font/font-awesome.css\" rel=\"stylesheet\" type=\"text/css\" media=\"all\" />\n        <link href=\"https://static.gem.gov.in/resources/css/bootstrap.css\" rel=\"stylesheet\" type=\"text/css\" media=\"all\" />\n        <link href=\"https://static.gem.gov.in/resources/css/style_v2-24.css\" rel=\"stylesheet\" type=\"text/css\" media=\"all\" />\n        <link href=\"https://static.gem.gov.in/resources/css/responsive4.css\" rel=\"stylesheet\">\n        <link href=\"https://static.gem.gov.in/resources/css/jquery-ui.css\" rel=\"stylesheet\" type=\"text/css\" media=\"all\" />\n        <script src=\"https://static.gem.gov.in/resources/js/vendor/jquery-1.11.3.min.js\"></script>\n        <script src=\"https://static.gem.gov.in/resources/js/bootstrap.js\"></script>\n        <script type=\"text/javascript\" src=\"https://static.gem.gov.in/resources/js/jquery-ui.js\"></script>\n        <link href=\"/resources/css/jquery.fancybox.css\" rel=\"stylesheet\" type=\"text/css\" media=\"all\" />\n        <script src=\"https://static.gem.gov.in/resources/js/modernizr.custom.js\"></script>\n\n        <!-- SmartMenus jQuery plugin -->\n        <link href=\"https://static.gem.gov.in/resources/landing/css/jquery.smartmenus.bootstrap.css\" rel=\"stylesheet\">\n        <script type=\"text/javascript\" src=\"https://static.gem.gov.in/resources/landing/js/jquery.smartmenus.js\"></script>\n        <script type=\"text/javascript\" src=\"https://static.gem.gov.in/resources/landing/js/jquery.smartmenus.bootstrap.js\"></script>\n\t\t<link rel=\" icon\" href=\"http://www.nalcoindia.com/images/Logo.png\" type=\"image/png\">\n        <title>Home</title>\n    </head>\n    <body>\n\n        <style type=\"text/css\">\n\t\t\t\tdiv {\n\t\t\t\t\ttext-align: justify;\n\t\t\t\t\ttext-justify: inter-word;\n\t\t\t\t\t}\n            .ui-autocomplete{\n                background: #f7f7f7;\n                max-height: 400px;\n                overflow-y: scroll;\n                width: 40%;\n            }\n            .ui-autocomplete>li{\n                padding: 5px 0;\n                margin-left: 10px;\n                cursor: pointer;\n            }\n            .searchStr{\n                color: #000;\n                text-transform : lowercase;\n            }\n            .subcat_search{\n                font-weight: bold;\n                color: #4db7eb;\n                text-transform : capitalize;\n            }\n            .searchInput{\n                width: 94% !important;\n            }\n            .newCustomMenu a{\n                font-size: 14px;\n                position: relative;\n                overflow: hidden;\n                text-overflow: ellipsis;\n                padding: 4px 10px;\n                white-space: nowrap;\n            }\n\n        \n\t\t\t.about-us-bg\n\t\t\t{\n\n\t\t\t\tbackground: url(https://gem.gov.in/resources/images/about-us-bg.jpg) ;\n\t\t\t}    \n\n\t\t\t.block_1 \n\t\t\t{\n\t\t\t\tmin-height: 400px;\n\t\t\t\tcolor: #fff;\n\t\t\t\tmargin: 0;\n\t\t\t\tpadding: 25px;\n\t\t\t\tbackground-color: rgba(37, 57, 69, 0.2);\n\t\t\t}\n\t\t\t.block_1 h2, .block_1 p \n\t\t\t{\n\t\t\t\tcolor: #fff;\n\t\t\t}\n\t\n\t\t.button \n\t\t{\n\t\t  display: inline-block;\n\t\t  border-radius: 4px;\n\t\t  background-color: #1cce61;\n\t\t  border: none;\n\t\t  color: #000000;\n\t\t  text-align: center;\n\t\t  font-size: 20px;\n\t\t  padding: 10px;\n\t\t  width: 180px;\n\t\t  transition: all 0.5s;\n\t\t  cursor: pointer;\n\t\t  margin: 10px;\n\t\t}\n\n        .logout_button \n\t\t{\n\t\t  float : right;\n\t\t  border-radius: 4px;\n\t\t  background-color: #ff0000;\n\t\t  border: none;\n\t\t  color: #ffffff;\n\t\t  text-align: center;\n\t\t  font-size: 10px;\n\t\t  padding: 10px;\n\t\t  width: 100px;\n\t\t  transition: all 0.5s;\n\t\t  cursor: pointer;\n\t\t  margin: 10px;\n\t\t}\n\n\t\t.button span {\n\t\t  cursor: pointer;\n\t\t  display: inline-block;\n\t\t  position: relative;\n\t\t  transition: 0.5s;\n\t\t}\n\n\t\t.button span:after {\n\t\t  content: '\\00bb';\n\t\t  position: absolute;\n\t\t  opacity: 0;\n\t\t  top: 0;\n\t\t  right: -20px;\n\t\t  transition: 0.5s;\n\t\t}\n\n\t\t.button:hover span {\n\t\t  padding-right: 25px;\n\t\t}\n\n\t\t.button:hover span:after {\n\t\t  opacity: 1;\n\t\t  right: 0;\n\t\t}\n\t\t</style>\n\n\t\t\n\t\t\n<section class=\"aboutUs\">\n    <div class=\"about-us-bg\">\n        <div class=\"container\">\n\t\t<br><br>\n            <div class=\"block_1\">\n                \n\t\t\t    <button class=\"logout_button\" onclick=\"parent.location='http://192.169.142.93:1880/login'\"><span>Log Out</span></button>\n\t\t\t\t<h1>Air Pressure Monitoring System</h1>\n\t\t\t\t<div class=\"clearfix mrgnbtm20\"></div>\n\t\t\t\t\n\t\t\t\t<div class=\"pageHead\">\n\t\t\t\t\t<h2><span>Live Data:</span></h2>\n\t\t\t\t</div>\n\t\t\t\t<button class=\"button\" onclick=\"parent.location='http://192.169.142.93:1880/ui/#/0'\"><span>Site 1</span></button>\n\t\t\t\t<button class=\"button\" onclick=\"parent.location='http://192.169.142.93:1880/ui/#/1'\"><span>Site 2</span></button>\n\t\t\t\t<button class=\"button\" onclick=\"parent.location='http://192.169.142.93:1880/ui/#/2'\"><span>Site 3</span></button>\n\t\t\t\t<button class=\"button\" onclick=\"parent.location='http://192.169.142.93:1880/ui/#/3'\"><span>Site 4</span></button>\n                <div class=\"clearfix mrgnbtm20\"></div>\n\t\t\t\t\n\t\t\t\t<div class=\"pageHead\">\n\t\t\t\t\t<h2><span>Past Data Analysis:</span></h2>\n\t\t\t\t</div>\t\n\t\t\t\t<button class=\"button\" onclick=\"parent.location='http://192.169.142.93:1880/ui/#/4'\"><span>View</span></button>\n\t\t\t\t<button class=\"button\" onclick=\"parent.location='http://192.169.142.93:1880/ui/#/5'\"><span>Statistics</span></button>\n\t\t\t\t<button class=\"button\" onclick=\"parent.location='http://192.169.142.93:1880/ui/#/6'\"><span>Analysis</span></button>\n\t\t\t\t{{!--<button class=\"button\" onclick=\"parent.location='http://192.169.142.93:1880/ui/#/6'\"><span>Logout</span></button>--}}\n\t\t\t\t<div class=\"clearfix mrgnbtm20\"></div>\n\n                \n\t\t\t\n\t\t\t\n\t\t\t\n                <div class=\"pageHead\">\n                    <h2><span>Overview:</span></h2>\n                </div>\n                <p>It is a collaborative project between NIT, Rourkela and NALCO Smelter Plant, Angul for monitoring the pressure and temperature of different instrument air headers located at strategic locations inside the plant.\n\t\t\t\tWith an interactive GUI service, the system is an all-in-one solution for the monitoring needs of the plant.\n\t\t\t\tThe system can generate reports and charts for real time data. It also has features for various past data analyses.\n\t\t\t\tThe hardware is designed to withstand prolonged exposure to temperature and magnetic fields.The system also aims at analyzing \n\t\t\t\tthe vast amounts of data generated by the sensor using various algorithms.</p>\n\n                <div class=\"clearfix mrgnbtm20\"></div>\n\n                <div class=\"pageHead\">\n                    <h2><span class=\"text-lowercase\">NIT Rourkela</span></h2>\n                </div>\n                <p>National Institute of Technology Rourkela (NITR) is a publicly funded premier institute of higher learning for engineering, science and technology\n\t\t\t\tlocated in the steel city of Rourkela, Odisha, India. It is one of the 31 National Institutes of Technology in India and has been recognized as an \n\t\t\t\tinstitute of national importance by the National Institutes of Technology Act, 2007. \n\t\t\t\tIt is ranked 12 in the NIRF Rankings 2017 of Indian engineering universities.</p>\n                \n\t\t\t\t<div class=\"pageHead\">\n                    <h2><span class=\"text-lowercase\">NALCO</span></h2>\n                </div>\n                <p>National Aluminium Company Limited (NALCO) is a Navratna CPSE under Ministry of Mines. \n\t\t\t\tIt was established on 7th January, 1981 in the Public Sector, with its registered office at Bhubaneswar. \n\t\t\t\tThe Company is a group ‘A’ CPSE having integrated and diversified operations in mining, metal and power with sales turnover of Rs 7,933 crore \n\t\t\t\tin financial year 2016-17. Presently, Government of India holds 60.20% equity of NALCO.<p>\n                <div class=\"clearfix mrgnbtm40\"></div> \n\t\t\t\t\n\n                <div class=\"director_block\">\n                    <h3>Key Personnel:</h3>\n\n                    <div class=\"clearfix mrgnbtm20\"></div>\n\n                    <div class=\"col-md-6 col-xs-12\">\n                        <div style=\"background: #58a534;text-align: center;    padding: 1px 0px;\">\n                            <h4>PROF. DEBIPRASAD PRIYABRATA ACHARYA</h4>\n                            <p>(PROJECT INVESTIGATOR)</p>\n                            <p>Associate Professor, Department of Electronics & Communication Engineering,<br>NIT,Rourkela.</p>\n                            <div class=\"clearfix\"></div>\n\n                        </div>\n                    </div>\n\n\n                    <div class=\"col-md-6 col-xs-12\">\n                        <div style=\"background: #58a534;text-align: center;    padding: 1px 0px;\">\n                            <h4>SHRI SATYAPRAKASH MOHAPATRA </h4>\n                            <p>(NODAL OFFICER)</p>\n                            <p>AGM(R&D), Smelter Plant<br>NALCO,Angul</p>\n                            <div class=\"clearfix\"></div>\n\n                        </div>\n                    </div>\n\t\t\t\t\t<br><br><br><br><br><br>\n\n                </div>\n\n            </div>\n        </div>\n    </div>\n\n   \n\n\n\n</section>\n</body>\n</html>","output":"str","x":528,"y":257,"wires":[["7e1756b7.90f4c8"]]},{"id":"7e1756b7.90f4c8","type":"http response","z":"10375a2f.e4ffe6","name":"","statusCode":"","headers":{},"x":698,"y":256,"wires":[]},{"id":"d4e62f2a.5b65f","type":"switch","z":"10375a2f.e4ffe6","name":"Password","property":"payload.password","propertyType":"msg","rules":[{"t":"eq","v":"ecenitr","vt":"str"},{"t":"neq","v":"ecenitr","vt":"str"}],"checkall":"true","outputs":2,"x":363,"y":294,"wires":[["18dfe514.40abfb"],["c58c26e9.112638"]]},{"id":"c58c26e9.112638","type":"template","z":"10375a2f.e4ffe6","name":"login.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<style>\nbody{background: #eee url(https://preview.ibb.co/jtcJiS/lock.jpg);\n    height:100%;\n    background-repeat: no-repeat;\n    background-size: cover\n}\nhtml,body{\n    position: relative;\n    height: 100%;\n}\n\n.login-container{\n    position: relative;\n    width: 300px;\n    margin: 80px auto;\n    padding: 20px 40px 40px;\n    text-align: center;\n    background: #fff;\n    border: 1px solid #ccc;\n}\n\n#output{\n    position: absolute;\n    width: 300px;\n    top: -75px;\n    left: 0;\n    color: #fff;\n}\n\n#output.alert-success{\n    background: rgb(25, 204, 25);\n}\n\n#output.alert-danger{\n    background: rgb(228, 105, 105);\n}\n\n\n.login-container::before,.login-container::after{\n    content: \"\";\n    position: absolute;\n    width: 100%;height: 100%;\n    top: 3.5px;left: 0;\n    background: #fff;\n    z-index: -1;\n    -webkit-transform: rotateZ(4deg);\n    -moz-transform: rotateZ(4deg);\n    -ms-transform: rotateZ(4deg);\n    border: 1px solid #ccc;\n\n}\n\n.login-container::after{\n    top: 5px;\n    z-index: -2;\n    -webkit-transform: rotateZ(-2deg);\n     -moz-transform: rotateZ(-2deg);\n      -ms-transform: rotateZ(-2deg);\n\n}\n\n.avatar{\n    width: 100px;height: 100px;\n    margin: 10px auto 30px;\n    border-radius: 100%;\n    border: 2px solid #aaa;\n    background-size: cover;\n}\n\n.form-box input{\n    width: 100%;\n    padding: 10px;\n    text-align: center;\n    height:40px;\n    border: 1px solid #ccc;;\n    background: #fafafa;\n    transition:0.2s ease-in-out;\n\n}\n\n.form-box input:focus{\n    outline: 0;\n    background: #eee;\n}\n\n.form-box input[type=\"text\"]{\n    border-radius: 5px 5px 0 0;\n    text-transform: lowercase;\n}\n\n.form-box input[type=\"password\"]{\n    border-radius: 0 0 5px 5px;\n    border-top: 0;\n}\n\n.form-box button.login{\n    margin-top:15px;\n    padding: 10px 20px;\n}\n\n.animated {\n  -webkit-animation-duration: 1s;\n  animation-duration: 1s;\n  -webkit-animation-fill-mode: both;\n  animation-fill-mode: both;\n}\n\n@-webkit-keyframes fadeInUp {\n  0% {\n    opacity: 0;\n    -webkit-transform: translateY(20px);\n    transform: translateY(20px);\n  }\n\n  100% {\n    opacity: 1;\n    -webkit-transform: translateY(0);\n    transform: translateY(0);\n  }\n}\n\n@keyframes fadeInUp {\n  0% {\n    opacity: 0;\n    -webkit-transform: translateY(20px);\n    -ms-transform: translateY(20px);\n    transform: translateY(20px);\n  }\n\n  100% {\n    opacity: 1;\n    -webkit-transform: translateY(0);\n    -ms-transform: translateY(0);\n    transform: translateY(0);\n  }\n}\n/*\n.fadeInUp {\n  -webkit-animation-name: fadeInUp;\n  animation-name: fadeInUp;\n}*/\n\n\n\n\n</style>\n<div class=\"container\">\n\t<div class=\"login-container\">\n            <div id=\"output\"></div>\n            <div class=\"w3-container\">\n <!--  <h2>Image in a Circle</h2>\n  <p>The w3-circle class shapes an image to a circle:</p> -->\n  <a href=\"https://www.nalcoindia.com/\">\n  <img src=\"https://image.ibb.co/emDVxn/NALCO.jpg\" class=\"w3-circle\" style=\"width:50%\">\n</a>\n</div>\n            <div class=\"form-box\">\n              <div class=\"panel-body\">\n                    <form action=\"/home\" method=\"post\" class=\"form-horizontal\" role=\"form\">\n                        <div class=\"form-group\">\n                            <label for=\"inputEmail\" class=\"col-sm-3 control-label\"><strong>Username</strong></label>\n                            <div class=\"col-sm-9\">\n                                <input type=\"username\" name=\"username\" class=\"form-control\" id=\"input Username\" placeholder=\"username\" style=\"background-color:lightyellow\" required=\"\">\n                            </div>\n                        </div>\n                        <div class=\"form-group\">\n                            <label for=\"inputPassword\" class=\"col-sm-3 control-label\"><strong>Password</strong></label>\n                            <div class=\"col-sm-9\">\n                                <input type=\"password\" name=\"password\" class=\"form-control\" id=\"input Password\" placeholder=\"password\" style=\"background-color:lightyellow\" required=\"\">\n                            </div>\n                        </div>\n                        <div class=\"form-group last\">\n                            <div class=\"col-sm-offset-3 col-sm-9\">\n                                <button type=\"submit\" class=\"btn btn-success btn-sm\"><strong>Login</strong></button>\n                            </div>\n                        </div>\n                    </form>\n            </div>            </div>\n        </div>\n        \n</div>\n</html>","output":"str","x":526,"y":405,"wires":[["52710a5c.75c624"]]},{"id":"52710a5c.75c624","type":"http response","z":"10375a2f.e4ffe6","name":"","statusCode":"","headers":{},"x":707,"y":402,"wires":[]},{"id":"eb888ebf.a2986","type":"switch","z":"10375a2f.e4ffe6","name":"Username","property":"payload.username","propertyType":"msg","rules":[{"t":"eq","v":"nitrecenalco","vt":"str"},{"t":"neq","v":"nitrecenalco","vt":"str"}],"checkall":"true","outputs":2,"x":230,"y":378,"wires":[["d4e62f2a.5b65f"],["c58c26e9.112638"]]},{"id":"34c32718.08cc1","type":"http in","z":"10375a2f.e4ffe6","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":260,"y":180,"wires":[["6d15f748.06c658"]]}]
